{% extends "base.html" %}


{% block content %}
<div class="page order_page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li> 
                            <span>Контакты</span>
                        </li>
                    </ul>
                </div>
                <p class="page_title">Контакты</p>
                <div class="contacts-block">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="contacts-block__info" itemscope="" itemtype="http://schema.org/LocalBusiness">
                                <b class="contacts-block__title" itemprop="name">ООО МК "Рэд"</b>
                                {% if settings.full_address %}
                                <div class="requisite-block">
                                    <b class="requisite-block__title">Адрес</b>
                                    <span class="requisite-block__value" itemprop="address">{{ settings.full_address }}</span>
                                </div>
                                {% endif %}
                                {% if settings.get_phone %}
                                <div class="requisite-block">
                                    <b class="requisite-block__title">Телефоны</b>
                                    {% for phone in settings.get_phones %}
                                        <a class="requisite-block__value" href="tel:{{ phone }}" itemprop="telephone">{{ phone }}</a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if settings.time_work %}
                                <div class="requisite-block">
                                    <b class="requisite-block__title">Режим работы</b>
                                    <span class="requisite-block__value" itemprop="openingHours">{{ settings.time_work }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="contacts-block__map-container" id="map-1">
                                <div data-lat="{{ settings.coord_x }}" data-lng="{{ settings.coord_y }}" data-message="{{ settings.full_address }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}