.the-btn {
    flex: 0 0 auto;
    display: inline-block;
    font: {
        weight: 700;
        size: 16px;
    }
    line-height: 19px;
    border-radius: 25px;
    padding: 15px 38px 16px;
    &#{ & }_simple {
        color: $sign-color;
        border: 1px solid $sign-color;
        background-color: transparent;
        &:hover {
            color: $general-color;
            border-color: $general-color;
        }
    }
    &#{ & }_light {
        color: #fff;
        border: 0;
        background-color: $general-color;
        transition: background-color $time-xs ease, color $time-xs ease;
        &:hover {
            color: $text-color;
            background-color: $general-color-primary;
        }
    }
    &#{ & }_size {
        &_l {
            font-size: 18px;
        }
    }
}
