.header {
    position: relative;
    z-index: 60;
    height: 160px;
    background-color: #1C1C1C;
    box-shadow: 0 3px 19px 0 rgba($general-color, 0.3);
    &__top {
        height: 40px;
        border-bottom: 1px solid rgba(#4997D3, 0.25);
    }
    &__contact {
        padding-right: 0;
    }
    &__bottom {
        display: flex;
        position: relative;
        height: 120px;
        padding-bottom: 32px;
        > .container {
            height: 100%;
        }
    }
    &__logo {
        margin-right: 25px;
    }
    &__nav-line {
        position: absolute;
        top: calc(100% - 32px);
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1170px;
        height: 60px;
        background-color: $general-color;
        margin: 0 auto;
    }
    &__shop-buttons {
        display: flex;
        align-items: center;
    }
}
