.applications {
    $this: &;
    display: flex;
    flex-direction: row;
    margin: -30px -15px;
    &__column {
        padding: 0 15px;
    }
    > div:not(#{ $this }__column) {
        display: none;
    }
}

.app {
    border: 0;
    border-radius: $radius;
    background-color: #fff;
    margin: 30px 0;
    box-shadow: $z-vertical-depth-1;
    overflow: hidden;
    transition: box-shadow 150ms ease;
    &:hover {
        box-shadow: $z-vertical-depth-2;
    }
    &__title {
        display: block;
        @include text-subhead;
        color: #fff !important;
        background-color: $color-subhead-bg;
        padding: 2px 20px;
        transition: background-color 400ms ease;
    }
    &__models {
        padding: 6px 20px;
        &__group {
            display: flex;
            flex-direction: row;
            // padding: 4px 0;
        }
        &__title {
            flex: 1 1 auto;
            @include text-caption;
            color: $color-text !important;
        }
        &__add {
            @include text-caption;
            color: $color-text !important;
            padding: 0 15px;
        }
        &__change {
            @include text-caption;
            color: $color-text !important;
        }
        &__title,
        &__add,
        &__change {
            background-position-y: center;
            &:hover {
                color: $color-ps-orange !important;
            }
        }
    }
}

.module {
    width: 100%;
    background-color: rgba(0,0,0,0);
    table {
        width: 100%;
    }
}

#content-related {
    max-width: 290px;
    width: 100%;
    float: none;
    margin: 30px 0 0 !important;
    .module {
        box-shadow: $z-vertical-depth-1;
    }
    h3 {
        margin-bottom: 0;
    }
    .actionlist {
        padding: 16px;
        margin: 0 !important;
    }
}
