.fieldsets {
    border: 0;
    // margin: 0 -20px;
    // overflow: hidden;
    &__nav  {
        display: flex;
        align-items: center;
        height: 48px;
        background-color: $color-subhead-bg;
        box-shadow: $z-vertical-depth-3;
        padding: 0 20px;
        > li {
            display: inline-block;
            height: 100%;
            padding: 0;
            > a {
                display: flex;
                align-items: center;
                height: 100%;
                @include text-button;
                color: rgba(#fff, 0.7);
                border: 0;
                border-bottom: 2px solid rgba(0,0,0,0);
                padding: 4px 15px;
                transition: color 150ms ease, border-color 150ms ease;
                &:hover {
                    color: #fff;
                }
                &.active {
                    color: #fff;
                    border-color: $color-ps-orange;
                }
            }
        }
    }
    &__content {
        padding: 10px 0;
    }
}

.submit_column {
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    margin: 0;
    &__button {
        $parent: &;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 0;
        border: 0;
        border-radius: 50% !important;
        background-color: $color-ps-light-green !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 22px 22px !important;
        box-shadow: $z-vertical-depth-2;
        margin: 0;
        margin-bottom: 10px;
        transition: background-color 150ms ease, box-shadow 150ms ease;
        &:hover, &:focus {
            background-color: #eb601b !important;
            box-shadow: $z-vertical-depth-3;
        }
        &--save {
            @extend #{ $parent };
            font-size: 0;
            background-color: #0b381d !important;
            background-image: $save-icon !important;
            margin: 0;
            float: none !important;
        }
        &--stand {
            @extend #{ $parent };
            font-size: 0;
            background-image: $save-stand-icon !important;
            // background-size: 26px 26px !important;
            float: none !important;
        }
        &--next {
            @extend #{ $parent };
            font-size: 0;
            background-image: $save-next-icon !important;
            float: none !important;
        }
        &--delete {
            @extend #{ $parent };
            background-color: #CC3434 !important;
            background-image: $delete-icon !important;
            &:hover, &:focus {
                background-color: #d65c5c !important;
            }
        }
    }
    &__popup {
        position: absolute;
        right: 100%;
        font: {
            weight: 400;
            size: 14px;
        }
        color: #fff;
        border: 0;
        border-radius: 5px;
        background-color: #333;
        padding: 5px 8px;
        opacity: 0;
        white-space: nowrap;
        transition: opacity 150ms ease;
    }
}