{% extends "base.html" %}
{% load utils pages %}
{% block content %}
<div class="page order_page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                        {% block breadcrumbs %}
                        <div class="breadcrumbs" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                            <ul>
                                <li itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a href="/" itemprop="name">Главная</a>
                                    <meta itemprop="position" content="1">
                                </li>
                                {% if object.get_ancestors %}
                                        {% for item in object.get_ancestors.all %}
                                            <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                                <a href="{{ item.get_absolute_url }}" itemprop="name">{{ item.title }}</a>
                                                <meta itemprop="position" content="1">
                                            </li>
                                        {% endfor %}
                                {% endif %}
                                <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span itemprop="name">{{ object.title }}</span>
                                    <meta itemprop="position" content="2">
                                </li>
                            </ul>
                        </div>
                        {% endblock %}
                    <p class="page_title">{{ object.title }}</p>
                </div>
                {% for post in posts %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <a class="news-block" href="{{ post.get_absolute_url }}">
                            {% if post.thumbnail %}
                            <span class="news-block__img-wrapper" style="background-image: url({{ post.thumbnail.url }});"></span>
                            {% else %}
                            <span class="article-block__img-wrapper article-block__img-wrapper_no-photo">
                                    <svg role="img" width="54" height="54">
                                        <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                    </svg>
                                </span>
                                {% endif %}
                            <span class="news-block__info">
                                <span class="news-block__title">{{ post.title}}</span>
                                <span class="news-block__desc">{{ post.subtitle }}</span>
                                <span class="news-block__date">
                                    <svg role="img" width="11" height="12">
                                        <use xlink:href="/static/images/sprite.svg#calendar"></use>
                                    </svg>{{ post.published_date }}
                                </span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}