{% extends "base.html" %}
{% block content %}
<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <ul>
                            <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                <a href="/" itemprop="name">Главная</a>
                                <meta itemprop="position" content="1">
                            </li>
                            <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                <span itemprop="name">О нас</span>
                                <meta itemprop="position" content="2">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="content">
                        {{ object.content.render }}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}