.breadcrumbs {
    width: 100%;
    height: 65px;
    background-color: $color-breadcrumbs-bg !important;
    padding: 0 !important;
    box-shadow: $z-vertical-depth-1;
    ul {
        display: flex;
        height: 100%;
        font-size: 0;
        padding: 0 25px;
        li {
            display: inline-flex;
            align-items: center;
            height: 100%;
            @include text-menu;
            color: $color-breadcrumbs-text;
            padding: 0;
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-top: 2px solid $color-breadcrumbs-text;
                border-left: 2px solid $color-breadcrumbs-text;
                margin: 0 15px;
                transform: rotate(135deg);
            }
            &:first-child::before {
                display: none;
            }
            a {
                display: inline-flex;
                align-items: center;
                height: 100%;
                color: $color-breadcrumbs-text;
                &:hover, &:focus {
                    color: $color-breadcrumbs-text-hover;
                }
            }
        }
    }
}