.header {
    flex: 0 0 auto;
    position: relative;
    z-index: 40;
    width: 220px;
    background-color: $color-header-bg;
    box-shadow: $z-horizon-depth-2;
    &__branding {
        padding: 5px 15px;
    }
    &__logo {
        display: block;
        max-width: 190px;
        width: 100%;
        padding: 10px 0;
        margin: 0 auto;
        > img {
            width: 100%;
            height: 100%;
        }
    }
    &__welcome {
        @include text-body;
        color: $color-header-text;
    }
    &__user_tools {
        position: relative;
        padding: 20px 15px;
        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: calc(100% - 30px);
            height: 1px;
            background-color: $color-header-border;
            margin: 0 auto;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        ul {
            padding: 10px 0 0 !important;
            > li {
                display: block;
                padding: 0;
                > a {
                    display: block;
                    @include text-caption;
                    color: $color-header-text;
                    padding: 0;
                    &:hover {
                        color: $color-header-text-hover;
                        // text-decoration: underline;
                    }
                }
            }
        }
    }
    &__nav {
        position: relative;
        width: 100%;
        padding: 8px 0 !important;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: calc(100% - 30px);
            height: 1px;
            background-color: $color-header-border;
            margin: 0 auto;
        }
        &:last-child::after {
            display: none;
        }
        li {
            position: relative;
            display: block;
            padding: 0;
            > a {
                display: block;
                @include text-caption;
                color: $color-header-menu-text;
                padding: 4px 15px;
                transition: color 150ms ease, background-color 150ms ease;
            }
            &:hover {
                > a {
                    color: $color-header-menu-text-hover;
                    background-color: $color-header-menu-hover;
                }
                > .sub-menu {
                    display: block;
                }
            }
        }
        .sub-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 100%;
            width: 180px;
            background-color: $color-header-submenu-bg;
            box-shadow: $z-horizon-depth-1;
            > li {
                > a {
                    color: #fff;
                }
                &:hover > a {
                    color: $color-header-submenu-text-hover;
                    background-color: $color-header-submenu-hover;
                }
            }
        }
    }
}