.form-row .filerFile {
    .related-lookup, .related-lookup ~ strong {
        display: none !important;
    }
    .js-related-lookup.related-lookup {
        display: inline-block !important;
    }
}
