{% extends "base.html" %}


{% block content %}
<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <span>Корзина</span>
                            </li>
                        </ul>
                    </div>
                    <p class="page_title">Корзина</p>
                    {% if cart.count %}
                    <div class="cart-table">
                        <div class="order-table cart-table">
                            <div class="order-table__header">
                                <div class="order-table__row">
                                    <div class="info">Ваш заказ</div>
                                    <div class="price">Цена</div>
                                    <div class="amount">Количество</div>
                                    <div class="total-price">Сумма</div>
                                    <div class="delete-item"></div>
                                </div>
                            </div>
                            {% include "shop/includes/cart-items.html" %}
                            </div>
                        </div>
                        <div class="cart-table__footer">
                                <div class="tip">После оформления заявки на сайте мы свяжемся с вами. Уточним цены на интересующие товары, рассчитаем сроки и стоимость доставки.</div>
                                <div class="wrapper">
                                    <b>Итого: 
                                        <strong>{{ cart.total }} руб.</strong>
                                    </b>
                                    <a class="btn btn-primary btn-lg" href="{% url 'order' %}">Оформить заказ</a>
                                </div>
                            </div>
                        {% else %}
                        {% include "./includes/cart-empty.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
