{% extends "base.html" %}


{% block content %}
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <span>Сравнение товаров</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <a class="back-to-catalog" href="/"> 
                    <svg role="img" width="8" height="5">
                        <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                    </svg>Назад к списку товаров
                </a>
            </div>
            <div class="col-12">
                <p class="page_title">Сравнение {{cart.count}} товаров</p>
            </div>
        </div>
        <div class="match_items">
            <div class="row">
                {% if cart.count %}
                    <div class="match_wrapper">
                        {{user}}
                        {% for item in cart.items %}
                            <div class="item">
                                {% if item.product.thumbnail %}
                                    <span class="img_wrapper">
                                        <img src="{{ item.product.thumbnail.url }}" alt=""/>
                                    </span>
                                {% else %}
                                    <div class="img_wrapper no_photo">
                                        <img src="/static/images/les1.jpg" alt="">
                                    </div>
                                {% endif %}
                                <p class="title">{{ item.product.title }}</p>
                                <div class="param">
                                    <div class="price">
                                        <p>{{item.product.price|floatformat }}<span>&nbsp&nbsp&#8381</span></p></p>
                                    </div>
                                    <div class="attr">
                                        {% for attr in prod_list.product_attrbutes.all %}
                                            <div class="attr_item">
                                                <b>{{ attr.group.title }}</b>
                                                <span>{{ attr.value.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="back_btn">
                                    <a href="{{ item.product.get_absolute_url }}" class="btn btn-primary">Перейти к продукту</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- {% if cart.count == 2 %}
                        {% for item in cart.items %}
                            <div class="col-6">
                                <div class="item">
                                    {% if item.product.thumbnail %}
                                        <span class="img_wrapper">
                                            <img src="{{ item.product.thumbnail.url }}" alt=""/>
                                        </span>
                                    {% else %}
                                        <div class="img_wrapper no_photo">
                                            <img src="/static/images/les1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <p class="title">{{ item.product.title }}</p>
                                    <div class="param">
                                        <div class="price">
                                            <p>{{item.product.price|floatformat }}<span>&nbsp&nbsp&#8381</span></p></p>
                                        </div>
                                        <div class="attr">
                                            {% for attr in prod_list.product_attrbutes.all %}
                                                <div class="attr_item">
                                                    <b>{{ attr.group.title }}</b>
                                                    <span>{{ attr.value.title }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="back_btn">
                                        <a href="{{ item.product.get_absolute_url }}" class="btn btn-primary">Перейти к продукту</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif cart.count == 3 %}
                        {% for item in cart.items %}
                            <div class="col-4">
                                <div class="item">
                                    {% if item.product.thumbnail %}
                                        <span class="img_wrapper">
                                            <img src="{{ item.product.thumbnail.url }}" alt=""/>
                                        </span>
                                    {% else %}
                                        <div class="img_wrapper no_photo">
                                            <img src="/static/images/les1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <p class="title">{{ item.product.title }}</p>
                                    <div class="param">
                                        <div class="price">
                                            <p>{{item.product.price|floatformat }}<span>&nbsp&nbsp&#8381</span></p></p>
                                        </div>
                                        <div class="attr">
                                            {% for attr in prod_list.product_attrbutes.all %}
                                                <div class="attr_item">
                                                    <b>{{ attr.group.title }}</b>
                                                    <span>{{ attr.value.title }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="back_btn">
                                        <a href="{{ item.product.get_absolute_url }}" class="btn btn-primary">Перейти к продукту</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif cart.count == 4 %}
                        {% for item in cart.items %}
                            <div class="col-3">
                                <div class="item">
                                    {% if item.product.thumbnail %}
                                        <span class="img_wrapper">
                                            <img src="{{ item.product.thumbnail.url }}" alt=""/>
                                        </span>
                                    {% else %}
                                        <div class="img_wrapper no_photo">
                                            <img src="/static/images/les1.jpg" alt="">
                                        </div>
                                    {% endif %}
                                    <p class="title">{{ item.product.title }}</p>
                                    <div class="param">
                                        <div class="price">
                                            <p>{{item.product.price|floatformat }}<span>&nbsp&nbsp&#8381</span></p></p>
                                        </div>
                                        <div class="attr">
                                            {% for attr in prod_list.product_attrbutes.all %}
                                                <div class="attr_item">
                                                    <b>{{ attr.group.title }}</b>
                                                    <span>{{ attr.value.title }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="back_btn">
                                        <a href="{{ item.product.get_absolute_url }}" class="btn btn-primary">Перейти к продукту</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %} -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
