{% extends "base.html" %}


{% block content %}

<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <span>Оформление заказа</span>
                            </li>
                        </ul>
                    </div>
                    <p class="page_title">Оформление заказа</p>
                </div>
                <div class="col-12 col-xl-8">
                    <form class="sn-order-form" action="{% url 'order-create' %}">    
                        {% csrf_token %}
                        <div class="form_part">
                            <div class="part_title">
                                <span>1.</span>
                                <b>Данные получателя</b>
                            </div>
                            <div class="part_body">
                                <div class="form-group required">
                                    <label for="input-1">ФИО</label>
                                    <input class="form-control is-valid" type="text" id="input-1" required="required"/>
                                    <div class="valid-feedback">Готово!</div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-2">Email</label>
                                    <input class="form-control is-invalid" type="email" id="input-2" required="required"/>
                                    <div class="invalid-feedback">Обязательное поле для заполнение</div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-3">Телефон</label>
                                    <input class="form-control is-valid" type="tel" id="input-3" required="required"/>
                                    <div class="valid-feedback">Готово!</div>
                                </div>
                            </div>
                        </div>
                        <div class="form_part">
                            <div class="part_title">
                                <span>2.</span>
                                <b>Способ доставки</b>
                            </div>
                            <div class="delivery_types">
                                <ul class="nav nav-tabs" id="tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab_content-1" role="tab" aria-selected="true">Самовывоз</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab_content-2" role="tab" aria-selected="false">Транспортной компанией</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab_content-3" role="tab" aria-selected="false">Почтой России</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab_content-4" role="tab" aria-selected="false">Курьером</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="content_container">
                                    <div class="tab-pane fade show active" id="tab_content-1" role="tabpanel">
                                        <div class="courier_info">
                                            <div class="courier_info-row">
                                                <span class="title">Адрес магазина</span>
                                                <span>Котлас, пр. Мира, д. 18</span>
                                            </div>
                                            <div class="courier_info-row">
                                                <span class="title">Самовывоз возможен</span>
                                                <span>Lorem ipsum dolor sit amet</span>
                                            </div>
                                            <div class="courier_info-row">
                                                <span class="title">Стоимость</span>
                                                <span>Бесплатно</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-2" role="tabpanel">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-4">Почтовый индекс</label>
                                                    <input class="form-control" type="text" id="input-4" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-5">Область</label>
                                                    <input class="form-control" type="text" id="input-5" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-6">Район</label>
                                                    <input class="form-control" type="text" id="input-6" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-7">Город/населенный пункт</label>
                                                    <input class="form-control" type="text" id="input-7" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-8">Улица</label>
                                                    <input class="form-control" type="text" id="input-8" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-9">Дом</label>
                                                            <input class="form-control" type="text" id="input-9" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-10">Корпус</label>
                                                            <input class="form-control" type="text" id="input-10" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-11">Квартира</label>
                                                            <input class="form-control" type="text" id="input-11" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-12">Комментарий</label>
                                                    <textarea class="form-control" id="input-12" placeholder="Напишите дополнительную информацию по доставке" required="required"></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-1">
                                            <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас0" data-popup="Котлас0"></div>
                                            <div data-lat="53.214541" data-lng="42.846951" data-message="Котлас2" data-popup="Котлас2"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-3" role="tabpanel"> 
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-4">Почтовый индекс</label>
                                                    <input class="form-control" type="text" id="input-4" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-5">Область</label>
                                                    <input class="form-control" type="text" id="input-5" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-6">Район</label>
                                                    <input class="form-control" type="text" id="input-6" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-7">Город/населенный пункт</label>
                                                    <input class="form-control" type="text" id="input-7" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-8">Улица</label>
                                                    <input class="form-control" type="text" id="input-8" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-9">Дом</label>
                                                            <input class="form-control" type="text" id="input-9" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-10">Корпус</label>
                                                            <input class="form-control" type="text" id="input-10" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-11">Квартира</label>
                                                            <input class="form-control" type="text" id="input-11" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-12">Комментарий</label>
                                                    <textarea class="form-control" id="input-12" placeholder="Напишите дополнительную информацию по доставке" required="required"></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-2">
                                            <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас0" data-popup="Котлас0"></div>
                                            <div data-lat="53.214541" data-lng="42.846951" data-message="Котлас2" data-popup="Котлас2"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-4" role="tabpanel"> 
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="select-1">Выберите город доставки</label>
                                                    <select class="custom-select mr-sm-2" id="select-1">
                                                        <option value="1">г. Москва</option>
                                                        <option value="2">г. Вологда</option>
                                                        <option value="3">г. Саратов</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-8">Улица</label>
                                                    <input class="form-control" type="text" id="input-8" required="required"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-9">Дом</label>
                                                            <input class="form-control" type="text" id="input-9" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-10">Корпус</label>
                                                            <input class="form-control" type="text" id="input-10" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-11">Квартира</label>
                                                            <input class="form-control" type="text" id="input-11" required="required"/>
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-12">Комментарий</label>
                                                    <textarea class="form-control" id="input-12" placeholder="Напишите дополнительную информацию по доставке" required="required"></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-3">
                                            <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас0" data-popup="Котлас0"></div>
                                            <div data-lat="53.214541" data-lng="42.846951" data-message="Котлас2" data-popup="Котлас2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_part">
                            <div class="part_title">
                                <span>3.</span>
                                <b>Способ оплаты</b>
                            </div>
                            <div class="payment_type">
                                <label class="payment_checkbox" for="payment-1">
                                    <input type="radio" name="payment_type-1" id="payment-1" checked="checked"/>
                                    <s class="new_checkbox">Банковской картой онлайн</s>
                                </label>
                                <label class="payment_checkbox" for="payment-2">
                                    <input type="radio" name="payment_type-1" id="payment-2"/>
                                    <s class="new_checkbox">Оплата по счету</s>
                                </label>
                                <label class="payment_checkbox" for="payment-3">
                                    <input type="radio" name="payment_type-1" id="payment-3"/>
                                    <s class="new_checkbox">Оплата при получении</s>
                                </label>
                            </div>
                        </div>
                        <div class="form_footer">
                            <div class="policy">Нажимая «Оформить заказ» я соглашаюсь на 
                                <a href="#">обработку персональных данных</a>
                            </div>
                            <div class="button">
                                <input class="btn btn-primary btn-lg submit-button" type="submit" value="Оформить заказ"/>
                                <span class="error_text">Одно или несколько полей заполнены неправильно.</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="order_items">
                        {% for item in cart.items %}
                            <div class="item">
                                <div class="info">
                                    <b>{{ item.product.brand.title }}</b>
                                    <span>{{ item.product.title }}</span>
                                </div>
                                <div class="price">
                                    <span>{{ item.count }} х <b>{{ item.price }} руб.</b></span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="delivery_type">
                            <span>Доставка</span>
                            <b>Бесплатно</b>
                        </div>
                        <div class="final_price">
                            <span>Итого:</span>
                            <b>{{ cart.total }} руб.</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

<div class="page order_page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" title="Главная" href="/">
                                        <span itemprop="name">Главная</span>
                                        <meta itemprop="position" content="1"/>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span itemprop="name">Оформление заказа</span>
                                    <meta itemprop="position" content="2"/>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <p class="page_title">Оформление заказа</p>
                </div>
            </div>
            <div class="order-wrapper">
                {% if cart.count %}
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <form class="checkout_form simple_form order-form" action="{% url 'order-create' %}" method="POST">
                                {% csrf_token %}
    
                                <div class="form_part">
                                    <div class="part_title"><span>1.</span><b>Данные получателя</b></div>
    
                                    <div class="form_group required">
                                        <span class="field_title">ФИО</span>
                                        <input type="text" name="name"/>
                                    </div>
                                    <div class="form_group required">
                                        <span class="field_title">Email</span>
                                        <input type="email" name="email"/>
                                    </div>
                                    <div class="form_group required">
                                        <span class="field_title">Телефон</span>
                                        <input type="tel" name="phone"/>
                                    </div>
                                </div>
    
                                <div class="form_part">
                                    <div class="part_title"><span>2.</span><b>Способ получения</b></div>
    
                                    <div class="delivery_types">
                                        {% comment %}
                                            <ul class="nav nav-tabs" id="tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab_content-1" role="tab" aria-selected="true"> 
                                                        <svg role="img" width="12" height="9"><use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use></svg>Самовывоз
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab_content-2" role="tab" aria-selected="false"> 
                                                        <svg role="img" width="12" height="9"><use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use></svg>Транспортной компанией
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab_content-3" role="tab" aria-selected="false"> 
                                                        <svg role="img" width="12" height="9"><use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use></svg>Почтой России
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab_content-4" role="tab" aria-selected="false"> 
                                                        <svg role="img" width="12" height="9"><use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use></svg>Курьером
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="content_container">
                                                <div class="tab-pane fade show active" id="tab_content-1" role="tabpanel">
                                                    <div class="courier_info">
                                                        <div class="courier_info-row">
                                                            <span>Адрес магазина</span>
                                                            <span>Котлас, пр. Мира, д. 18</span>
                                                        </div>
                                                        <div class="courier_info-row">
                                                            <span>Самовывоз возможен</span>
                                                            <span>Ежедневно с 10:00 до 21:00</span>
                                                        </div>
                                                        <div class="courier_info-row">
                                                            <span>Стоимость</span>
                                                            <span>Бесплатно</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_content-2" role="tabpanel">
                                                    <div class="inputs_row double">
                                                        <div class="form_group required error"><span class="field_title">Почтовый индекс</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="form_group"><span class="field_title">Область</span>
                                                            <input type="text" name=""/>
                                                        </div>
                                                    </div>
                                                    <div class="inputs_row double">
                                                        <div class="form_group required error"><span class="field_title">Район</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="form_group required"><span class="field_title">Город/населенный пункт</span>
                                                            <input type="text" name=""/>
                                                        </div>
                                                    </div>
                                                    <div class="inputs_row double">
                                                        <div class="form_group required"><span class="field_title">Улица</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="inputs_row triple">
                                                            <div class="form_group required"><span class="field_title">Дом</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                            <div class="form_group"><span class="field_title">Корпус</span>
                                                                <input type="text" name=""/>
                                                            </div>
                                                            <div class="form_group required"><span class="field_title">Квартира</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form_group"><span class="field_title">Комментарий</span>
                                                        <textarea placeholder="Напишите дополнительную информацию по доставке"></textarea>
                                                    </div>
                                                    <div class="map_container" id="map-1">
                                                        <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас0" data-popup="Котлас0"></div>
                                                        <div data-lat="53.214541" data-lng="42.846951" data-message="Котлас2" data-popup="Котлас2"></div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_content-3" role="tabpanel"> 
                                                    <div class="inputs_row double">
                                                        <div class="form_group required error"><span class="field_title">Почтовый индекс</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="form_group"><span class="field_title">Область</span>
                                                            <input type="text" name=""/>
                                                        </div>
                                                    </div>
                                                    <div class="inputs_row double">
                                                        <div class="form_group required error"><span class="field_title">Район</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="form_group required"><span class="field_title">Город/населенный пункт</span>
                                                            <input type="text" name=""/>
                                                        </div>
                                                    </div>
                                                    <div class="inputs_row double">
                                                        <div class="form_group required"><span class="field_title">Улица</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="inputs_row triple">
                                                            <div class="form_group required"><span class="field_title">Дом</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                            <div class="form_group"><span class="field_title">Корпус</span>
                                                                <input type="text" name=""/>
                                                            </div>
                                                            <div class="form_group required"><span class="field_title">Квартира</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form_group"><span class="field_title">Комментарий</span>
                                                        <textarea name="" placeholder="Напишите дополнительную информацию по доставке"></textarea>
                                                    </div>
                                                    <div class="map_container" id="map-2">
                                                        <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас" data-popup="Котлас"></div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_content-4" role="tabpanel"> 
                                                    <div class="form_group required error"><span class="field_title">Выберите город доставки</span>
                                                        <select name="">
                                                            <option value="г. Великий Устюг">г. Великий Устюг</option>
                                                            <option value="г. Вологда">г. Вологда</option>
                                                            <option value="г. Владивосток">г. Владивосток</option>
                                                        </select>
                                                    </div>
                                                    <div class="inputs_row double">
                                                        <div class="form_group required"><span class="field_title">Улица</span>
                                                            <input type="text" name="" required="required"/>
                                                        </div>
                                                        <div class="inputs_row triple">
                                                            <div class="form_group required"><span class="field_title">Дом</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                            <div class="form_group"><span class="field_title">Корпус</span>
                                                                <input type="text" name=""/>
                                                            </div>
                                                            <div class="form_group required"><span class="field_title">Квартира</span>
                                                                <input type="text" name="" required="required"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form_group"><span class="field_title">Комментарий</span>
                                                        <textarea placeholder="Напишите дополнительную информацию по доставке"></textarea>
                                                    </div>
                                                    <div class="map_container" id="map-3">
                                                        <div data-lat="59.214541" data-lng="39.846951" data-message="Котлас3" data-popup="Котлас3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endcomment %}
                                    </div>
                                </div>
                                <div class="form_part">
                                    <div class="part_title"><span>3.</span><b>Способ оплаты</b></div>
                                    <div class="form_group">
                                        <div class="payment_type">
                                            <label class="payment_checkbox" for="payment-1">
                                                <input type="radio" name="payment_type-1" id="payment-1"/>
                                                <s class="new_checkbox">
                                                    <svg role="img" width="12" height="9">
                                                        <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                    </svg>Банковской картой онлайн
                                                </s>
                                            </label>
                                            <label class="payment_checkbox" for="payment-2">
                                                <input type="radio" name="payment_type-1" id="payment-2"/>
                                                <s class="new_checkbox">
                                                    <svg role="img" width="12" height="9">
                                                        <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                    </svg>Оплата по счету
                                                </s>
                                            </label>
                                            <label class="payment_checkbox" for="payment-3">
                                                <input type="radio" name="payment_type-1" id="payment-3" checked="checked"/>
                                                <s class="new_checkbox">
                                                    <svg role="img" width="12" height="9">
                                                        <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                    </svg>Оплата при получении
                                                </s>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_footer">
                                    <div class="policy">Нажимая «Оформить заказ» я соглашаюсь на <a href="#">обработку персональных данных</a></div>
                                    <div class="button">
                                        <input class="theme_button" type="submit" value="Оформить заказ"/><span class="error_text">Одно или несколько полей заполнены неправильно.</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="order_items"><b class="title">Состав заказа</b>
                                {% for item in cart.items %}
                                    <div class="item">
                                        <div class="info">
                                            <b>{{ item.product.brand.title }}</b>
                                            <span>{{ item.product.title }}</span>
                                        </div>
                                        <div class="price">
                                            <span>{{ item.count }} х <b>{{ item.price }} руб.</b></span>
                                        </div>
                                    </div>
                                {% endfor %}
    
                                <div class="delivery_type"><span>Доставка</span><b>Бесплатно</b></div>
                                <div class="final_price"><span>Итого:</span><b>{{ cart.total }} руб.</b></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            {% include "./includes/cart-empty.html" %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>