<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Ваш заказ №{{ order.id }}</title>
    </head>

    <body>

        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="margin:0; padding: 60px 20px"
            width="100%"
            bgcolor="#e7e7e7">
            <tr>
                <td align="center">

                    <div style="width: 560px; text-align: left; border: 1px solid #e0e0e0; background-color: #ffffff; margin: 0 auto;">
                        <!-- header -->
                        <div style="padding: 10px 30px 13px; border-bottom: 1px solid #e0e0e0;">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <img src="http://red35.ru/static/images/logo.png" alt="" border="0" style="display:block;" />
                                    </td>
                                    <td align="right" valign="middle">
                                        <a href="http://red35.ru/" target="_blank" style="font-family: Arial; font-weight: 700; font-size: 16px; color: #d8232a; text-decoration: none;">red35.ru</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /header -->

                        <div style="background-color: #f5f5f5; font-family: Arial; font-size: 15px; font-weight: 400; line-height: 20px; color: #1c1c1c; padding: 30px 30px 20px;">
                            <p style="font-size: 30px; line-height: normel; margin: 0 0 20px;">Ваш заказ №{{ order.id }}</b></p>
                            <p style="margin: 10px 0;">ФИО: <b>{{ order.name }}</b></p>
                            <p style="margin: 10px 0;">Email: <b>{{ order.email }}</b></p>
                            <p style="margin: 10px 0;">Телефон: <b>{{ order.phone }}</b></p>
                        </div>

                        <div style="padding:15px 30px 0 30px;">
                            <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="margin:0; table-layout: auto"
                                width="100%">

                                <tr height="25px" style="font-family: Arial; font-weight: 400; font-size: 13px; color: #1c1c1c; line-height: 20px;">
                                    <td align="left" colspan="2" style="border-bottom: 1px solid #e0e0e0;">Состав заказа</td>
                                    <td align="left" width="65" style="border-bottom: 1px solid #e0e0e0;">Кол-во</td>
                                    <td align="left" width="90" style="border-bottom: 1px solid #e0e0e0;">Сумма</td>
                                </tr>

                                {% for item in order.order_items.all %}
                                    <tr style="font-family: Arial; font-weight: 400; font-size: 15px; color: #1c1c1c; vertical-align: top;">
                                        <td width='75' style="border-bottom: 1px solid #e0e0e0; padding: 16px 0;">
                                            <div>
                                                {% if item.product.thumbnail %}
                                                    <img src="http://red35.ru{{ item.product.thumbnail.url }}" alt="" border="0" width="60" height="60" style="display:block; margin: 0; object-fit: contain;" />
                                                {% else %}
                                                    <img src="http://red35.ru/static/images/mail/dispatch-no-photo.jpg" alt="" border="0" width="60" height="60" style="display:block; margin: 0;" />
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td width="270" style="border-bottom: 1px solid #e0e0e0; padding: 16px 0;">
                                            <div style="padding-top: 5px;">
                                                {% if item.option %}
                                                    <p style="font-size: 13px; margin: 0;">{{ item.option.title }}</p>
                                                    <p style="font-weight: 700; margin: 0;">{{ item.option.price }} шт.</p>
                                                {% else %}
                                                    <p style="font-size: 13px; margin: 0;">{{ item.product.title }}</p>
                                                    <p style="font-weight: 700; margin: 0;">{{ item.product.price }} шт.</p>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td style="border-bottom: 1px solid #e0e0e0; padding: 16px 0;">
                                            <div style="padding-top: 13px;">
                                                <p style="margin: 0;">{{ item.count }} шт.</p>
                                            </div>
                                        </td>
                                        <td style="border-bottom: 1px solid #e0e0e0; padding: 16px 0;">
                                            <div style="padding-top: 16px;">
                                                <p style="font-weight: 700; margin: 0;">{{ item.total }} руб.</p>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                            <table style="width: 100%; font-family: Arial; font-weight: 400; font-size: 24px; color: #1c1c1c; padding: 20px 0 25px;">
                                <tr>
                                    <td align="left" style="padding: 0;"><p style="margin: 0;"><b>Итого к оплате:</b></p></td>
                                    <td align="right" style="padding: 0;"><p style="margin: 0;"><b>{{ order.total }} руб.</b></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </body>

</html>
