{% extends "./base-account.html" %}


{% block data_class %} current-menu-item{% endblock %}

{% block content_account %}
        <form class="simple_form" id="change_personal_data" action="{% url 'account-change-data' %}", method="POST">
            {% csrf_token %}
            <b class="form_title">Личные данные</b>
            <div class="form-group required">
                <label for="input-1">ФИО</label>
                <input class="form-control" type="text" name="name" id="input-1" value="{{ account.name }}" required="required"/>
                <div class="state valid-feedback">Готово!</div>
            </div>
            <div class="form-group required">
                <label for="input-3">Телефон</label>
                <input class="form-control" type="tel" name="phone" id="input-3" value="{{ account.phone }}" required="required"/>
                <div class="state valid-feedback">Готово!</div>
            </div>
            <div class="form-group required">
                <label for="input-2">Email</label>
                <input class="form-control" type="email" name="email" id="input-2" value="{{ account.email }}" required="required"/>
                <div class="state valid-feedback">Готово!</div>
            </div>
            <input class="btn btn-primary btn-lg" type="submit" value="Отправить"/>
        </form>


{% endblock %}
