{% extends "./base-account.html" %}


{% block orders_class %} current-menu-item{% endblock %}

{% block content_account %}

    {% if orders %}
        {% for order in orders %}
            <div class="profile_order">
                <div class="profile_order-header">
                    <b class="order_info">Заказ № {{ order.id }} от {{ order.date|date:"Y.m.d" }} {{ order.date|date:"f:s" }}</b>
                    <b class="order_status {{ order.status }}">{{ order.status_value }}</b>
                </div>

                <div class="profile_order-body">
                    <div class="items">
                        {% for item in order.order_items.all %}
                            <div class="order_item">
                                <b class="title">{{ item.product.brand.title }}</b>
                                <span class="desc">{{ item.product.title }}</span>
                                <span class="amount">{{ item.count }} x <b>{{ item.total }} руб.</b></span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="price"><span>Итого:</span><b>{{ order.total }} руб. </b></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="notification_block">
            <div class="wrapper_left">
                <div class="text">
                    <b>История заказов пуста</b>
                    <span>Вы пока не совершили ни одного заказа</span>
                </div>
            </div>
            <a class="button" href="{% url 'catalog' %}">
                <span class="theme_button">Перейти в каталог</span>
            </a>
        </div>
    {% endif %}

{% endblock %}
