{% extends "./base-account.html" %}


{% block password_class %} current-menu-item{% endblock %}

{% block content_account %}

    <div class="col-12 col-lg-8 col-xl-9">
            <form id="change_password" class="simple_form" action="{% url 'account-change-password' %}" method="POST">
                    {% csrf_token %}
                <b class="form_title">Изменить пароль</b>
                <div class="form-group required">
                    <label for="input-1">Старый пароль</label>
                    <input class="form-control" name="old_password" type="password" id="input-1" required="required"/>
                    <div class="state valid-feedback">Готово!</div>
                </div>
                <div class="form-group required">
                    <label for="input-3">Новый пароль</label>
                    <input class="form-control" name="password" type="password" id="input-3" required="required"/>
                    <div class="state valid-feedback">Готово!</div>
                </div>
                <div class="form-group required">
                    <label for="input-2">Подтвердите новый пароль</label>
                    <input class="form-control" name="password_repeat" type="password" id="input-2" required="required"/>
                    <div class="state valid-feedback">Готово!</div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Отправить"/>
            </form>
        </div>

{% endblock %}
