{% extends "./base-account.html" %}


{% block subscribe_class %} current-menu-item{% endblock %}

{% block content_account %}

<div class="col-12 col-lg-8 col-xl-9">
        <p class="profile_mini_title">Управление подписками</p>
        <div class="profile_subscribe">
            <div class="profile_subscribe-block">
                <div class="img_wrapper">
                    <img src="/static/images/akcii.svg" width="55" height="55" alt=""/>
                </div>
                <span>Узнавайте первым об акциях и скидках на сайте</span>
            </div>
            <div class="profile_subscribe-block">
                <div class="img_wrapper">
                    <img src="/static/images/subscribers.svg" width="62" height="47" alt=""/>
                </div>
                <span>Выгодные предложения для подписчиков</span>
            </div>
            <div class="profile_subscribe-block">
                <div class="img_wrapper">
                    <img src="/static/images/notific.svg" width="55" height="53" alt=""/>
                </div>
                <span>Новинки и скидки, интересные именно вам</span>
            </div>
        </div>
        <button id="subscribe" class="btn btn-primary btn-lg subscribe_button" data-action="{% url 'account-subscribe-add' %}">{% if user.subscriber %}Отписаться{% else %}Подписаться{% endif %}</button>
    </div>

{% endblock %}
