{% extends "base.html" %}
{% load pages cache %}

{% block content %}


<div class="page">
    <div class="container">
        <div class="sn-category-container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            {% for item in object.get_breadcrumbs %}
                            <li>
                                {% if forloop.last %}
                                <span>{{ item.title }}</span>
                                {% else %}
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="page_title">{{ object.title }}</p>
                </div>
                {% include "./includes/filters.html" %}
                <div class="col-12 col-xl-9">
                    <div class="list_link">

                        {% if object.get_children or object.parent.get_children %}
                            {% if object.get_children %}
                                {% for item in object.get_children %}
                                <a {% if request.META.PATH_INFO == item.get_absolute_url %}class="active"{% endif %} href="{{ item.get_absolute_url }}">{{ item.title }}
                                    <span>{{ item.get_products_count }}</span>
                                </a>
                                {% endfor %}
                            {% else %}
                                {% for item in object.parent.get_children %}
                                <a {% if request.META.PATH_INFO == item.get_absolute_url %}class="active"{% endif %} href="{{ item.get_absolute_url }}">{{ item.title }}
                                        <span>{{ item.get_products_count }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <form class="sort_parameters" action="">
                        <div class="order_by">Сортировать по:
                            <select name="sort">
                                <option value="price-down">цене ↑</option>
                                <option value="price-up">цене ↓</option>
                                <option value="pop-up">популярности ↑</option>
                                <option value="pop-down">популярности ↓</option>
                            </select>
                        </div>
                    </form>
                    {% block category_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}