{% extends "base.html" %}

{% block content %}

<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li> 
                                <span>Бренды</span>
                            </li>
                        </ul>
                    </div>
                    <p class="page_title">Бренды</p>
                </div>
                {% for item in brands %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                        <div class="brand_block">
                            <div class="letter">{{ item.symbol }}</div>
                            <ul class="brand_list">
                                {% for brand in item.brands %}
                                    <li><a href="#">{{ brand.title }}{% if brand.country %} ({{ brand.country }}){% endif %}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                

{% endblock content %}