{% extends "base.html" %}


{% block content %}

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li> 
                            <span>Каталог товаров</span>
                        </li>
                    </ul>
                </div>
                <p class="page_title">Каталог товаров</p>
                {% for category in object_list %}
                {% if category.get_children %}
                <div class="catalog_item">
                    <b>{{ category.title }}</b>
                    <div class="row">
                        {% for children in category.get_children %}
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    

{% endblock %}