{% extends "./base-category.html" %}


{% block category_content %}

    {% if products %}
        <div class="sn-products-container">
            <div class="row change_products">
                {% for product in products %}
                {% if not product.get_children or product.type_obj == "product" %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include "catalog/product-card.html" %}
                    </div>
                {% else %}
                    <div class="col-12 col-md-6">
                    {% include "catalog/collection-card.html" %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="paginationBlock">
        {{ pagination }}
        </div>
    {% else %}
     <div class="sn-products-container">
            <div class="row .change_products">
        <p>В данной категории товар временно отсутствует, однако появится в ближайшее время. Пока предлагаем вам ознакомиться с продукцией в других разделах.</p>
    </div>
</div>
    {% endif %}

{% endblock %}