{% extends "base.html" %}


{% block content %}

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="breadcrumbs">
                            <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                                <li>
                                    <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                        <a itemprop="item" title="Главная" href="/">
                                            <span itemprop="name">Главная</span>
                                            <meta itemprop="position" content="1"/>
                                        </a>
                                    </span>
                                </li>
                                {% for item in object.category.get_family %}
                                    <li>
                                        <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                            <a itemprop="item" title="{{ item.title }}" href="{{ item.get_absolute_url }}">
                                                <span itemprop="name">{{ item.title }}</span>
                                                <meta itemprop="position" content="1"/>
                                            </a>
                                        </span>
                                    </li>
                                {% endfor %}
                                <li>
                                    <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                        <span itemprop="name">{{ object.title }}</span>
                                        <meta itemprop="position" content="2"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                <a class="back-to-catalog" href="/"> 
                    <svg role="img" width="8" height="5">
                        <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                    </svg>Назад к списку товаров
                </a>
            </div>
            <div class="col-12">
                <div class="product__top-info" itemscope="" itemtype="http://schema.org/Product">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                                {% if object.thumbnail or object.product_gallery.all %}
                                <div class="product-slider">
                                    <div class="product-slider__container">
                                            <a class="product-slider__container-slide item-thumbnail" href="{{object.thumbnail.url}}" data-lightbox="gallery-set">
                                                <img itemprop="image" src="{{object.thumbnail.url}}" alt=""/>
                                            </a>
                                        {% for p in object.product_gallery.all %}
                                        <a class="product-slider__container-slide item-thumbnail" href="{{object.thumbnail.url}}" data-lightbox="gallery-set">
                                            <img itemprop="image" src="{{p.photo.url}}" alt=""/>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="product-slider__carousel">
                                        <div class="product-slider__carousel-item">
                                            <img src="{{object.thumbnail.url}}" alt=""/>
                                        </div>
                                        {% for p in object.product_gallery.all %}
                                        <div class="product-slider__carousel-item">
                                            <img src="{{p.photo.url}}" alt=""/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="product-photo">
                                	<svg role="img" width="80" height="80">
                                		<use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                	</svg>
                                </div>
                                {% endif %}
                        </div>
                        
                        <div class="col-12 col-lg-6">
                            <form class="product-form" action="">
                                    <p class="page_title product-form__title" itemprop="name">{{ object.title }}</p>
                                    <div class="product-form__labels">
                                        <span class="product-form__vendor-code">Артикул: {{ object.code }}</span>
                                        <div class="badges">
                                            {% if object.new %}
                                            <span class="badge badge-success">Новинка</span>
                                            {% endif %}
                                            {% if object.hit %}
                                            <span class="badge badge-warning">Хит!</span>
                                            {% endif %}
                                            {% if object.sale %}
                                            <span class="badge badge-danger">-30%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% if object.product_color_solution.all %}
                                <div class="product-options">
                                    <b class="product-options__title">Основные цветовые решения</b>
                                    <div class="wrapper">
                                        {% for c in  object.product_color_solution.all %}
                                        <div class="product-options__material" href="#">
                                            <img src="{{ c.photo.url }}" alt=""/>
                                            <span class="product-options__material-desc">{{ c.title }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="product-collapse-desc">
                                    <b class="product-collapse-desc__title">Описание</b>
                                    <div class="product-collapse-desc__visible-content content-text">
                                            {{ object.description|safe}}
                                    </div>
                                    {% if object.hidden_description %}
                                    <a class="product-collapse-desc__trigger" data-toggle="collapse" href="#product-hidden-content" role="button" aria-expanded="false" aria-controls="product-hidden-content">Показать больше
                                        <span class="triangle"></span>
                                    </a>
                                    <div class="collapse" id="product-hidden-content">
                                        <div class="product-collapse-desc__hidden-content content-text">
                                            <p>{{ object.hidden_description|safe }}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% regroup children by category as children_list %}
            <div class="col-12">
                <div class="collections-tabs">
                    <b class="collections-tabs__title">Состав колекции</b>
                    <ul class="nav-tabs nav" id="myTab" role="tablist">
                        {% for child in children_list %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ forloop.counter }}" data-toggle="tab" href="#tab_container-{{ forloop.counter }}" role="tab" aria-controls="tab_container-{{ forloop.counter }}" aria-selected="true">{{ child.grouper }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="tab-content-1">
                        {% for child in children_list %}
                        <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="tab_container-{{ forloop.counter }}" role="tabpanel" aria-labelledby="tab-{{ forloop.counter }}">
                            <div class="row">
                                {% for product in child.list %}
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    {% include "catalog/product-card.html" %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="extra-collections-slider">
                    <div class="slider-header">
                        <b class="title">Похожие коллекции</b>
                        <div class="nav-buttons">
                            <a class="prev" href="#">
                                <svg role="img" width="6" height="9">
                                    <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                </svg>
                            </a>
                            <a class="next" href="#">
                                <svg role="img" width="6" height="9">
                                    <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="slider-body">
                        {% for item in similar_products %}
                            {% with product=item %}
                                {% include "catalog/collection-card.html" %}
                            {% endwith %}
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
