        <a class="collection-card" href="{{ product.get_absolute_url }}" itemscope="" itemtype="http://schema.org/Product">
            <div class="img_wrapper {% if not product.thumbnail %}no_photo"{% else %}" style="background-image: url({{ product.thumbnail.url }});"{% endif %}>
                {% if not product.thumbnail %}
                    <svg role="img" width="54" height="54">
                        <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                    </svg>
                {% endif %}
                <div class="badges">
                        {% if product.sale %} <span class="badge badge-danger">%</span> {% endif %}
                        {% if product.hit %} <span class="badge badge-warning">Хит!</span> {% endif %}
                        {% if product.new %} <span class="badge badge-success">Новинка</span> {% endif %}
                </div>
            </div>
            <div class="info">
                <span class="title" itemprop="name">{{ product.title }}</span>
                <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                    <meta itemprop="price" content="{{ product.price }}"/>
                    <meta itemprop="priceCurrency" content="руб."/>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                    <span class="price">
                        {% if product.get_price %}
                        от
                        <span class="value">{{ product.get_price }}</span>
                        <span class="currency">руб.</span>
                        {% else %}
                        <b class="no_price">Цена по запросу</b>
                        {% endif %}
                    </span>
                </div>
            </div>
        </a>