
        <a class="sn-card-add" href="{{ product.get_absolute_url }}" itemscope="" itemtype="http://schema.org/Product">
            <div class="img_wrapper {% if not product.thumbnail %}no_photo{% endif %}">
                {% if product.thumbnail %}
                <img class="lazy" data-src="{{ product.thumbnail.url }}" alt=""/>
                {% else %}
                <svg role="img" width="20" height="20">
                    <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                </svg>
                {% endif %}
                <div class="badges">
                    {% if product.sale %} <span class="badge badge-danger">-30%</span> {% endif %}
                    {% if product.hit %} <span class="badge badge-warning">Хит!</span> {% endif %}
                    {% if product.new %} <span class="badge badge-success">Новинка</span> {% endif %}
                </div>
                <div class="hover_layer">
                    <form action="{% url 'cart-add' %}" method="POST">
                    <div class="buttons">
                        <button class="add_to_cart" type="submit">
                            <svg role="img" width="28" height="15">
                                <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                            </svg>Добавить в корзину
                        </button>
                        {% if product.product_child.all %}
                        <input type="hidden" name="product-id" value="{{ product.product_child.first.id }}"/>
                        {% else %}
                        <input type="hidden" name="product-id" value="{{ product.id }}"/>
                        {% endif %}
                        <input type="hidden" name="product-count" value="1"/>
                        {% if product.colors.all %}
                        <input type="hidden" name="product-color" value="{{ product.first_color.id }}"/>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
            <div class="info">
                <span class="title">{{ product.title }}</span>
                <div class="price_row">
                    <meta itemprop="price" content="price on application"/>
                    <meta itemprop="priceCurrency" content="руб."/>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                    {% if product.get_price %}
                    <span class="sell_price">{{ product.get_price }} руб.
                        {% if product.old_price %}
                        <s>{{ product.old_price }} руб.</s>
                        {% endif %}
                    </span>
                    {% else %}
                    <b class="no_price">Цена по запросу</b>
                    {% endif %}
                </div>
            </div>
        </a>

{% comment %} 
<div class="wide_product_card">
    <a class="left_part" href="{{ product.get_absolute_url }}" itemscope="" itemtype="http://schema.org/Product">
        <span class="wrapper">
            {% if product.thumbnail %}
            <span class="img_wrapper"><img itemprop="image" class="lazy" data-src="{{ product.thumbnail.url }}" alt=""/>
                <!-- Картинка для ховера-->
                <span class="hover_img"><img class="lazy" data-src="{{ product.thumbnail.url }}" alt=""/></span>
            </span>
            {% else %}
            <span class="img_wrapper no_photo">
                <svg role="img" width="18" height="18">
                    <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                </svg>
            </span>
            {% endif %}
            <span class="title" itemprop="name">{{ product.title }}</span>
        </span>
        <span class="price_col" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
            {% if product.price %}
            <meta itemprop="price" content="{{ product.price }}"/>
            <meta itemprop="priceCurrency" content="руб."/>
            {% endif %}
            <link itemprop="availability" href="http://schema.org/InStock"/>
            {% if product.price %}
            <span class="price">{{ product.price }} руб.</span>
            {% else %}
            <span class="no_price">Цена по запросу</span>
            {% endif %}
        </span>
    </a>
    <form class="right_part" action="{% url 'cart-add' %}" method="POST">
            <input type="hidden" name="product-id" value="{{ product.id }}"/>
            {% if product.colors.all %}
            <input type="hidden" name="product-color" value="{{ product.first_color.id }}"/>
            {% endif %}
        <div class="wrapper">
            <div class="badges">
                {% if product.new %} <span class="badge badge-success">Новинка</span> {% endif %}
                {% if product.hit %} <span class="badge badge-warning">Хит!</span> {% endif %}
                {% if product.sale %} <span class="badge badge-danger">-30%</span> {% endif %}
            </div>
            <div class="amount">
                <div class="product-amount">
                    <div class="product-amount__button product-amount__button_minus">&#9668;</div>
                    <div class="product-amount__field">
                        <input type="number" name="product-count"  min="1" max="{{ product.count }}" value="1"/>
                    </div>
                    <div class="product-amount__button product-amount__button_plus">&#9658;</div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="add_to_favorites" type="button">
                <svg role="img" width="16" height="14">
                    <use xlink:href="/static/images/sprite.svg#heart"></use>
                </svg>
            </button>
            <button class="compare" type="button">
                <svg role="img" width="14" height="14">
                    <use xlink:href="/static/images/sprite.svg#compare_icon"></use>
                </svg>
            </button>
            <button class="add_to_cart btn btn-outline-primary" type="submit">В корзину
                <div class="go-to-cart">
                    <span>Товар добавлен в корзину</span>
                    <a class="btn btn-primary" href="#">Перейти в корзину</a>
                </div>
            </button>
        </div>
    </form>
</div> {% endcomment %}