{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            {% for item in object.get_breadcrumbs %}
                            <li>
                                {% if forloop.last %}
                                <span>{{ item.title }}</span>
                                {% else %}
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="back-to-catalog" href="/"> 
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>Назад к списку товаров
                    </a>
                </div>
                <div class="col-12">
                    <div class="product__top-info" itemscope="" itemtype="http://schema.org/Product">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                {% if object.thumbnail or object.parent.thumbnail or object.product_gallery.all %}
                                <div class="product-slider">
                                    <div class="product-slider__container">
                                            <a class="product-slider__container-slide item-thumbnail" href="{% if object.parent %}{{object.parent.thumbnail.url}}{% else %}{{object.thumbnail.url}}{% endif %}" data-lightbox="gallery-set">
                                                <img itemprop="image" src="{% if object.parent.thumbnail %}{{object.parent.thumbnail.url}}{% else %}{{object.thumbnail.url}}{% endif %}" alt=""/>
                                            </a>
                                        {% for p in object.product_gallery.all %}
                                        <a class="product-slider__container-slide item-thumbnail" href="{{p.thumbnail.url}}" data-lightbox="gallery-set">
                                            <img itemprop="image" src="{{p.photo.url}}" alt=""/>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="product-slider__carousel">
                                        <div class="product-slider__carousel-item">
                                            <img src="{% if object.parent.thumbnail %}{{object.parent.thumbnail.url}}{% else %}{{object.thumbnail.url}}{% endif %}" alt=""/>
                                        </div>
                                        {% for p in object.product_gallery.all %}
                                        <div class="product-slider__carousel-item">
                                            <img src="{{p.photo.url}}" alt=""/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="product-photo">
                                	<svg role="img" width="80" height="80">
                                		<use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                	</svg>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-6">
                                <form class="product-form" action="{% url 'cart-add' %}" method="POST">
                                    <p class="page_title product-form__title" itemprop="name">{{ object.title }}</p>
                                    <div class="product-form__labels" {% if not object.get_variations %}style="border:  0px;"{% endif %} >
                                        {% if object.code %}
                                        <span class="product-form__vendor-code">Артикул: {{ object.code }}</span>
                                        {% endif %}
                                        <div class="badges">
                                            {% if object.new %}
                                            <span class="badge badge-success">Новинка</span>
                                            {% endif %}
                                            {% if object.hit %}
                                            <span class="badge badge-warning">Хит!</span>
                                            {% endif %}
                                            {% if object.sale %}
                                            <span class="badge badge-danger">-30%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if object.get_variations %}
                                     <div class="product-options">
                                        <b class="product-options__title">Другие вариации</b>
                                        <div class="wrapper">
                                            {% for v in  object.get_variations %}
                                            <a class="product-options__variation {% if v == object %}product-options__variation_active{% endif %}" href="{{ v.get_absolute_url }}">
                                                <img src="{{ v.thumbnail.url }}" alt=""/>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if object.colors.all %}
                                    <div class="product-options">
                                        <b class="product-options__title">Цвет товара</b>
                                        {% for item in object.colors.all %}
                                        <label class="color-checkbox color-checkbox_white_color" for="checkbox-{{ item.id }}">
                                            <input type="radio" id="checkbox-{{ item.id }}" name="product-color" value="{{ item.id }}" {% if forloop.first %}checked="checked"{% endif %}/>
                                            <s class="new_checkbox" style="background-color: {{ item.value.hex_color }};">
                                                <svg role="img" width="10" height="8">
                                                    <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                </svg>
                                            </s>
                                        </label>
                                        {% endfor  %}
                                    </div>
                                    {% endif %}
                                    <div class="product-form__price-row">
                                        <div class="product-price" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="10 990"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="product-price__status {% if object.count %}product-price__status_available{% endif %}">{% if object.count %}В наличии{% else %}Нет в наличии{% endif %}</span>
                                            <b class="product-price__price {% if object.price %}product-price__price_sell-price">{{ object.price }} руб.{% else %}">Цена по запросу{% endif %}
                                                {% if object.old_price %}
                                                <s class="product-price__old_price">{{ object.old_price }} руб.</s>
                                                {% endif %}
                                            </b>
                                        </div>
                                        {% if object.count %}
                                                <input type="hidden" name="product-id" value="{{ object.id }}"/>
                                            <div class="wrapper">
                                                <div class="product-amount">
                                                    <div class="product-amount__button product-amount__button_minus">&#9668;</div>
                                                    <div class="product-amount__field">
                                                        <input type="number" name="product-count" min="1" max="{{object.count}}" value="1"/>
                                                    </div>
                                                    <div class="product-amount__button product-amount__button_plus">&#9658;</div>
                                                </div>
                                                <button class="modal_trigger add-to-cart btn btn-primary btn-lg" type="button" data-target="#custom_modal-0">В корзину
                                                    <div class="go-to-cart">
                                                        <span>Товар добавлен в корзину</span>
                                                        <a class="btn btn-primary" href="#">Перейти в корзину</a>
                                                    </div>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </form>
                                    <!-- <div class="product-form__buttons-wrapper">
                                        <button class="product-form__button add_to_favorites {% if object in favorites.items %}active{% endif %}" type="button" data-product="{{ object.id }}" data-url="{% url 'favorites-add' %}">
                                            <svg role="img" width="16" height="14">
                                                <use xlink:href="/static/images/sprite.svg#heart"></use>
                                            </svg>Добавить в избранное
                                        </button>
                                        <button class="product-form__button compare" type="button">
                                            <svg role="img" width="14" height="14">
                                                <use xlink:href="/static/images/sprite.svg#compare_icon"></use>
                                            </svg>Добавить к сравнению
                                        </button>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="product-tabs">
                        <ul class="nav-tabs nav" id="myTab" role="tablist">
                            {% if object.description %}
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab_container-1" role="tab" aria-controls="tab_container-1" aria-selected="true">
                                Описание
                                </a>
                            </li>
                            {% endif %}
                            {% if object.product_attrbutes.all %}
                            <li class="nav-item">
                                <a class="nav-link{% if not object.description %} active{% endif %}" id="tab-2" data-toggle="tab" href="#tab_container-2" role="tab" aria-controls="tab_container-2" aria-selected="false">Характеристики</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link{% if not object.description and not object.product_attrbutes.all %} active{% endif %}" id="tab-3" data-toggle="tab" href="#tab_container-3" role="tab" aria-controls="tab_container-3" aria-selected="false">Отзывы</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="tab-content-1"><div class="tab-pane fade {% if object.description %} show active{% endif %}" id="tab_container-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="tab-pane__text">
                                <div class="content-text" itemprop="description">
                                        {{ object.description|safe }}
                                </div>
                            </div></div>
                        <div class="tab-pane fade {% if not object.description and object.product_attrbutes %} active show{% endif %}" id="tab_container-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="tab-pane__characteristics">
                                {% for item in object.product_attrbutes.all %}
                                    <div class="tab-pane__characteristic-row">
                                        <b>{{ item.group.title }}</b>
                                        <span>{{ item.value.title }}</span>
                                    </div>
                                {% endfor %}
                            </div></div>
                        <div class="tab-pane fade {% if not object.description and not object.product_attrbutes.all %} active show{% endif %}" id="tab_container-3" role="tabpanel" aria-labelledby="tab-3">Disqus</div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="conditions">
                        <div class="block">
                            <div class="title">
                                <svg role="img" width="26" height="19">
                                    <use xlink:href="/static/images/sprite.svg#wallet"></use>
                                </svg>
                                <b>Оплата</b>
                            </div>
                            <p>Краткое описание о способах оплаты. Информация об оптовых и розничных ценах. Минимальнаы сумма заказа.</p>
                        </div>
                        <div class="block">
                            <div class="title">
                                <svg role="img" width="26" height="19">
                                    <use xlink:href="/static/images/sprite.svg#delivery"></use>
                                </svg>
                                <b>Доставка</b>
                            </div>
                            <p>Краткое описание о способах и сроках доставки. Информация о бесплатной доставке. Регионы доставки</p>
                        </div>
                    </div>
                </div>
                {% if similar_products %}
                <div class="col-12">
                    <div class="extra_products-slider">
                        <div class="slider-header">
                            <b class="title">Похожие товары</b>
                            <div class="nav-buttons">
                                <a class="prev" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                                <a class="next" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="slider-body">
                            {% for product in  similar_products %}
                                {% include 'catalog/product-card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if viewed_products %}
                <div class="col-12">
                    <div class="extra_products-slider">
                        <div class="slider-header">
                            <b class="title">Недавно смотрели</b>
                            <div class="nav-buttons">
                                <a class="prev" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                                <a class="next" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="slider-body">
                            {% for product in  viewed_products %}
                                {% include 'catalog/product-card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}















<div class="page product_page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" title="Главная" href="/">
                                        <span itemprop="name">Главная</span>
                                        <meta itemprop="position" content="1"/>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" title="Каталог товаров" href="{% url 'catalog' %}">
                                        <span itemprop="name">Каталог товаров</span>
                                        <meta itemprop="position" content="2"/>
                                    </a>
                                </span>
                            </li>
                            {% for item in object.category.get_family %}
                                <li>
                                    <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                        <a itemprop="item" title="{{ item.title }}" href="{{ item.get_absolute_url }}">
                                            <span itemprop="name">{{ item.title }}</span>
                                            <meta itemprop="position" content="1"/>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                            {% for item in object.get_family %}
                                <li>
                                    <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                        {% if not forloop.last %}
                                            <a itemprop="item" title="{{ item.title }}" href="{{ item.get_absolute_url }}">
                                        {% endif %}
                                            <span itemprop="name">{{ item.title }}</span>
                                            <meta itemprop="position" content="1"/>
                                        {% if not forloop.last %}
                                            </a>
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="product_card">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="product_card-photo">
                                    {% if object.new or object.hit or object.sale %}
                                        <div class="labels">
                                            {% if object.sale %}
                                                <div class="label" style="background-color: #e6007e;">-15%</div>
                                            {% endif %}
                                            {% if object.new %}
                                                <div class="label" style="background-color: #7ed321;">NEW</div>
                                            {% endif %}
                                            {% if object.hit %}
                                                <div class="label" style="background-color: #ffa000;">ХИТ</div>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if object.thumbnail %}
                                        <img class="lazy" data-src="{{ object.thumbnail.url }}" alt=""/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <!-- Product form -->
                                <form class="product_card-main_info product-form" action="{% url 'cart-add' %}" method="POST">
                                    <!-- Form data -->
                                    {% csrf_token %}
                                    <input type="hidden" name="product-id" value="{{ object.id }}">
                                    {% if object.product_colors.all %}
                                        <input type="hidden" name="colors" value="1">
                                    {% else %}
                                        <input type="hidden" name="colors" value="0">
                                    {% endif %}

                                    <p class="title">{{ object.title }}</p>

                                    <div class="parameters">
                                        <div class="parameter"><b>Артикул:</b> <span>{{ object.code }}</span></div>
                                        <div class="parameter"><b>Производитель:</b> <span>{{ object.brand.title }}</span></div>
                                        <div class="parameter"><b>Наличие:</b> {% if object.count > 0 %}<span style="color: #229e0f;">В наличии</span>{% else %}<span style="color: #e73f54;">Нет в наличии</span>{% endif %}</div>
                                    </div>

                                    {% if object.colors.all %}
                                        <div class="color_slider"><b class="slider_title">Вариация цветов</b>
                                            <div class="color_slider-container">
                                                {% for item in object.colors.all %}
                                                    <div>
                                                        <label class="color_slider_checkbox" for="product-color-{{ item.id }}">
                                                            <input type="radio" id="product-color-{{ item.id }}" name="product-color" value="{{ item.id }}"/>
                                                            <s class="new_checkbox"><span style="background-color: {{ item.value.hex_color }};"></span></s>
                                                            <span class="short_desc">{{ item.value.title }}</span>
                                                            <span class="full_desc">{{ item.value.title }}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="prices"> 
                                        <div class="price retail_price">
                                            <div class="price_title">Розничная цена</div>
                                            <b>{{ object.price }} руб.{% if object.old_price %} <s>{{ object.old_price }} руб.</s>{% endif %}</b>
                                        </div>
                                        {% if object.wholesale_price %}
                                            <div class="price wholesale_price">
                                                <div class="price_title">Оптовая цена</div><b>{{ object.wholesale_price }} руб.</b>
                                            </div>
                                        {% endif %}
                                        <a class="add_to_favorites favorites-add" data-product="{{ object.id }}" data-action="{% url 'favorites-add' %}" href="">
                                            <svg role="img" width="20" height="17"><use xlink:href="/static/images/sprite.svg#heart"> </use></svg>
                                            <span>Добавить в избранное</span>
                                        </a>
                                    </div>

                                    {% if object.count > 0 %}
                                        <div class="buttons">
                                            <div class="product_amount">
                                                <div class="product_amount-button minus">–</div>
                                                <div class="product_amount-field">
                                                    <!-- Product count -->
                                                    <input type="number" min="1" max="{{ object.count }}" name="product-count" value="1"/>
                                                </div>
                                                <div class="product_amount-button plus">+</div>
                                            </div>
                                            <button type="submit" class="add_to_cart theme_button">
                                                <svg role="img" width="20" height="30"><use xlink:href="/static/images/sprite.svg#cart"></use></svg>
                                                <span>В корзину</span>
                                            </button>
                                            <a class="fast_order" href="#">Заказать в один клик</a>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="tabs_container">
                        <ul class="nav nav-tabs" id="tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#description" role="tab" aria-selected="true">Описание</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attributes" role="tab" aria-selected="false">Характеристики</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews" role="tab" aria-selected="false">Отзывы</a></li>
                        </ul>
                        <div class="tab-content" id="content_container">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"> 
                                {{ object.description|safe }}
                            </div>
                            <div class="tab-pane fade" id="attributes" role="tabpanel">
                                {% for item in object.product_attrbutes.all %}
                                    <div class="desc_row">
                                        <div class="left_part">
                                            <b class="title">{{ item.group.title }}</b>
                                            <div class="dots"></div>
                                        </div>
                                        <span class="text">{{ item.value.title }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                Disqus
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="extra_products-slider">
                        <div class="slider-header">
                            <b class="title">Похожие товары</b>
                            <div class="nav-buttons">
                                <a class="prev" href="#"><svg role="img" width="12" height="10"><use xlink:href="/static/images/sprite.svg#small_arrow"></use></svg></a>
                                <a class="next" href="#"><svg role="img" width="12" height="10"><use xlink:href="/static/images/sprite.svg#small_arrow"></use></svg></a>
                            </div>
                        </div>
                        <div class="slider-body">
                            {% for item in similar_products %}
                                {% with product=item %}
                                    {% include "catalog/product-card.html" %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="extra_products-slider">
                        <div class="slider-header pink_img"><b class="title">С этим товаром покупают</b>
                            <div class="nav-buttons">
                                <a class="prev" href="#"><svg role="img" width="12" height="10"><use xlink:href="/static/images/sprite.svg#small_arrow"></use></svg></a>
                                <a class="next" href="#"><svg role="img" width="12" height="10"><use xlink:href="/static/images/sprite.svg#small_arrow"></use></svg></a>
                            </div>
                        </div>
                        <div class="slider-body">
                            {% for item in viewed_products %}
                                {% with product=item %}
                                    {% include "catalog/product-card.html" %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
