#tree.block-style ul.jqtree-tree {
    .jqtree-element {
        background-color: rgba($color-subhead-bg, 0.1) !important;
        transition: background-color 200ms ease, box-shadow 200ms ease;
        .jqtree-toggler {
            transition: color 200ms ease;
        }
    }
    li.jqtree-selected > .jqtree-element {
        background-color: rgba($color-subhead-bg, 1) !important;
        box-shadow: $z-vertical-depth-3;
        .jqtree-title, .edit {
            color: #fff !important;
            outline: none;
            &:hover {
                color: $color-ps-orange !important;
            }
        }
        .jqtree-toggler {
            color: #fff;
        }
    }
}