.login {
    background-color: #f2f2f2;
    main {
        flex: 0 1 auto;
        flex-direction: column;
        max-width: 480px;
        width: 100%;
        height: auto;
        border: 0;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
        padding: 0;
        margin: auto;
        overflow: hidden;
    }
    .header {
        width: 100%;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
    #content-main form {
        label {
            margin: 0;
        }
        .submit-row {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;
        }
    }
    .content {
        padding: 0 30px;
    }
}
