<form class="question-form" action="{% url 'feedback-question' %}" method="POST">
    <!-- Form data -->
    {% csrf_token %}
    <input type="hidden" name="subject" value="Остались вопросы?">

    <div class="row">
        <div class="col-lg-5 col-12">
            <div class="question-form__col question-form__content">
                <svg class="question-form__icon" role="img"><use xlink:href="/static/images/sprite.svg#question"></use></svg>
                <p class="question-form__title">Остались вопросы?</p>
                <p class="question-form__text">Заполните форму и наш менеджер свяжется  с вами в ближайшее время </p>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="question-form__col">
                <label class="input">
                    <span class="input__placeholder">Имя</span>
                    <input class="input__field" type="text" name="name">
                </label>
                <label class="input">
                    <span class="input__placeholder">Телефон</span>
                    <input class="input__field" type="tel" name="phone">
                </label>
                <label class="input">
                    <span class="input__placeholder">Email</span>
                    <input class="input__field" type="email" name="email">
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="question-form__col">
                <label class="textarea">
                    <span class="textarea__placeholder">Сообщение</span>
                    <textarea name="message" class="textarea__field"></textarea>
                </label>
                <label class="form-accept">
                    <input class="form-accept__input" type="checkbox" name="acceptance"/>
                    <div class="form-accept__icon"></div>
                    <p class="form-accept__text">Я согласен(а) на <a class="form-accept__link" target="_blank" href="{% url 'privacy-policy' %}">обработку персональных данных</a></p>
                </label>
            </div>
        </div>
        <div class="col-lg-1 col-12">
            <button class="question-form__submit" type="submit">
                <svg class="question-form__submit-icon" role="img"><use xlink:href="/static/images/sprite.svg#send"></use></svg>
            </button>
        </div>
    </div>
</form>