<form class="subscribe-form" action="{% url 'feedback-subscribe' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="subject" value="Подписаться на рассылку">

    <input class="subscribe-form__input" type="email" name="email" placeholder="Введите email">
    <button class="subscribe-form__submit" type="submit">
        <svg class="subscribe-form__icon" role="img"><use xlink:href="/static/images/sprite.svg#send"></use></svg>
    </button>
</form>