@mixin text-display-4 {
    font: {
        weight: 300;
        size: 112px;
    }
    line-height: 128px;
    letter-spacing: -5px;
}

@mixin text-display-3 {
    font: {
        weight: 400;
        size: 56px;
    }
    line-height: 64px;
}

@mixin text-display-2 {
    font: {
        weight: 400;
        size: 45px;
    }
    line-height: 64px;
}

@mixin text-display-1 {
    font: {
        weight: 400;
        size: 34px;
    }
    line-height: 52px;
}

@mixin text-headline {
    font: {
        weight: 400;
        size: 24px;
    }
    line-height: 44px;
}

@mixin text-title {
    font: {
        weight: 500;
        size: 20px;
    }
    line-height: 44px;
}

@mixin text-subhead {
    font: {
        weight: 400;
        size: 16px;
    }
    line-height: 32px;
}

@mixin text-menu {
    font: {
        weight: 500;
        size: 14px;
    }
    line-height: 32px;
}

@mixin text-button {
    font: {
        weight: 500;
        size: 14px;
    }
    line-height: 32px;
    text-transform: uppercase;
}

@mixin text-caption {
    font: {
        weight: 400;
        size: 13px;
    }
    line-height: 32px;
}

@mixin text-body {
    font: {
        weight: 400;
        size: 14px;
    }
    line-height: 25px;
}
