{% extends "admin/base.html" %}
{% load administration_tags %}

{% block title %}{{ title }} | Place-start{% endblock %}

{% block extrastyle %}
    {{ block.super }}

    <link rel="stylesheet" href="/static/administration/css/vendor.css">
    <link rel="stylesheet" href="/static/administration/css/fonts.css">
    <link rel="stylesheet" href="/static/administration/css/main.css">
{% endblock %}

{% block branding %}
    <a class="header__logo" href="{% url 'admin:index' %}">
        <img src="/static/administration/images/ps-logo.svg" alt="" srcset="">
    </a>
{% endblock %}

{% block nav-global %}
    {{ block.super }}

    {% admin_nav %}
{% endblock %}

{% block javascript %}
    <script src="/static/administration/js/vendor.bundle.js"></script>
    <script src="/static/administration/js/main.bundle.js"></script>
{% endblock %}

{% block footer %}{% endblock %}
