{% extends "base.html" %}
{% block content %}
				<div class="page page_404">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="breadcrumbs">
									<ul>
										<li>
											<a href="/">Главная</a>
										</li>
										<li> 
											<span>404</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12">
								<div class="wrapper_404">
									<strong class="error_code">404</strong>
									<b class="title">Страница не найдена</b>
									<span class="desc">Выберите интересующий раздел в меню или перейдите на главную страницу сайта.</span>
									<a class="btn btn-md btn-primary to-index" href="/">Перейти на главную</a>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}