{% load navs seo %}

{% get_nav 'general-menu' as general_menu %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="UTF-8"/>
		<link rel="canonical" href="{{ SERVER_META.HTTP_HOST }}{{ SERVER_META.PATH_INFO }}"/>
		<link rel="home" type="application/rss+xml" href="http://example.com/feed" />
        <title>{% meta_title %}</title>
        <meta name="description" content="{% meta_description %}">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<link rel="icon" href="/static/images/Favicon.png" type="image/x-icon" />
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        {{ settings.head_scripts|safe }}
	</head>
	<body>
		<i class="modal_bg"></i>
		<a class="nav_close">
			<span></span>
		</a>
		<div class="mobile-menu">
			<div class="catalog-link has-children">
				<a href="{% url 'catalog' %}">
					<div class="ps-burger">
						<span></span>
					</div>Каталог
					<span class="open-child"></span>
				</a>
				<ul class="sub-menu">
					<li>
						<a class="step_back" href="">
							<svg role="img" width="12" height="7">
								<use xlink:href="/static/images/sprite.svg#arrow_left"></use>
							</svg>Назад
						</a>
                    </li>
                    {% for cat in categories %}
					<li class="has-children">
						<a href="{{ cat.get_absolute_url }}">{{ cat.title }}
							<span class="open-child"></span>
                        </a>
                        {% if cat.get_children %}
						<ul class="sub-menu">
							<li>
								<a class="step_back" href="">
									<svg role="img" width="12" height="7">
										<use xlink:href="/static/images/sprite.svg#arrow_left"></use>
									</svg>Назад
								</a>
                            </li>
                            {% for subcat in cat.get_children %}
							<li>
								<a href="{{ subcat.get_absolute_url }}">{{ subcat.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
				</ul>
			</div>
			<ul class="main-menu">
                {% for punct in header_menu %}
                {% if punct.get_children %}
                <li class="has-children">
                    <a href="{{ punct.get_url }}">{{ punct.title }}
                        <span class="open-child"></span>
                    </a>
                </li>
                {% else %}
				<li>
					<a href="{{ punct.get_url }}">{{ punct.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
			</ul>
			<div class="mobile-menu__footer">
                <a class="callback btn btn-primary" href="#">Заказать звонок</a>
				<a class="contact-row" href="tel:{{ settings.get_phone }}">
					<div class="icon">
						<svg role="img" width="14" height="14">
							<use xlink:href="/static/images/sprite.svg#phone"></use>
						</svg>
					</div>{{ settings.get_phone }}
				</a>
				<a class="contact-row" href="mailto:{{ settings.email }}">
					<div class="icon">
						<svg role="img" width="14" height="14">
							<use xlink:href="/static/images/sprite.svg#email"></use>
						</svg>
					</div>{{ settings.email }}
				</a>
				<span class="contact-row">
					<div class="icon">
						<svg role="img" width="12" height="15">
							<use xlink:href="/static/images/sprite.svg#location_pin"></use>
						</svg>
					</div>{{ settings.address }}
				</span>
				<span class="contact-row">
					<div class="icon">
						<svg role="img" width="14" height="14">
							<use xlink:href="/static/images/sprite.svg#clock"></use>
						</svg>
					</div>{{ settings.time_work }}
				</span>
			</div>
		</div>
		<div class="mobile-search-wrapper">
			<form class="sn-search-form" data-attr="mob" action="/products/" url-api="{% url 'search' %}">
				<input type="text" name="search" placeholder="Поиск по катологу"/>
				<button>Искать</button>
			</form>
			<div class="sn-search-dropdown">
				<ul>
					<!-- <li>
						<a href="#">Смартфон Samsung SM-G965F Galaxy S9+ 64Gb Lilac Purple</a>
					</li>
					<li>
						<a href="#">Смартфон Samsung SM-A720F Galaxy A7 (2017) Gold</a>
					</li>
					<li>
						<a href="#">Смартфон Samsung SM-G955 Galaxy S8+ 64Gb Black</a>
					</li>
					<li>
						<a href="#">Смартфон Samsung SM-J320 J3 LTE Gold</a>
					</li>
					<li>
						<a href="#">Смартфон Samsung SM-J330 J3 Gold</a>
					</li>
					<li>
						<a href="#">Телевизор 55&quot; Samsung QE55Q6FAMUXRU</a>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="page_wrapper">
			<main>
				<header>
					<div class="desktop-header">
						<div class="sup-header">
							<div class="container">
								<div class="row">
									<div class="col-9">
										<nav class="navbar navbar-expand-md navbar-light">
											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button><div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <ul class="navbar-nav">
                                        {% for punct in header_menu %}
                                        <li class="nav-item {% if forloop.first %}active{% endif %}">
                                        {% if punct.get_children %}
                                        <a class="nav-link dropdown-toggle" href="{{ punct.get_url }}" id="navbarDropdownMenuLink{{forloop.counter}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ punct.title }}</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{forloop.counter}}">
                                        {% for p in punct.get_children %}
                                        <a class="dropdown-item" href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <a class="nav-link" href="{{ punct.get_url }}">{{ punct.title }}<span class="sr-only">(current)</span></a>
                                        {% endif %}
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
										</nav>
									</div>
									<div class="col-3">
										<div class="header-worktime">
											<svg role="img" width="13" height="13">
												<use xlink:href="/static/images/sprite.svg#clock"></use>
											</svg>
											<span>{{ settings.time_work }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="middle-header">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="wrapper">
											<a class="logo" href="/">
												<img src="/static/images/logo.png" alt=""/>
											</a>
											<div class="header-contacts">
												<span class="address"> 
													<svg role="img" width="12" height="15">
														<use xlink:href="/static/images/sprite.svg#location_pin"></use>
													</svg>{{ settings.address }}
												</span>
												<a class="email" href="mailto:{{ settings.email }}u"> 
													<svg role="img" width="15" height="11">
														<use xlink:href="/static/images/sprite.svg#email"></use>
													</svg>{{ settings.email }}
												</a>
												<a class="phone" href="tel:{{ settings.get_phone }}"> 
													<svg role="img" width="14" height="14">
														<use xlink:href="/static/images/sprite.svg#phone"></use>
													</svg>{{ settings.get_phone }}
												</a>
												<a class="btn btn-primary modal_trigger footer-callback" href="#" data-target="#custom_modal-1">Заказать звонок</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sub-header">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="wrapper">
											<div class="sub-header__fluid-part">
												<div class="ps-burger">
													<span></span>
                                                    <i class="ps-burger__burger-desc">Каталог товаров</i>
                                                    {% if categories %}
													<ul class="sub-menu">
                                                        {% for cat in categories %}
														<li>
															<a href="{{ cat.get_absolute_url }}">{{ cat.title }}
                                                                {% if cat.get_children %}
																<svg role="img" width="6" height="9">
																	<use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                                                </svg>
                                                                {% endif %}
                                                            </a>
                                                            {% if cat.get_children %}
															<div class="sub-menu-2">
                                                                {% for subcat in cat.get_children %}
                                                                <a href="{{ subcat.get_absolute_url }}">{{ subcat.title }}</a>
                                                                {% endfor %}
                                                            </div>
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
												</div>
												<form class="sn-search-form" data-attr="desc" action="/products/" url-api="{% url 'search' %}">
													<input type="text" name="search" placeholder="Поиск товаров в каталоге"/>
													<button>
														<svg role="img" width="16" height="16">
															<use xlink:href="/static/images/sprite.svg#search"></use>
														</svg>
                                                    </button>
                                                    <div class="sn-search-dropdown">
                                                        <ul>

                                                        </ul>
                                                    </div>
												</form>
                                            </div>
											<div class="sub-header__profile-menu-items">
												<ul>
                                                    <li>
                                                        <a class="modal_trigger" href="#" data-target="#custom_modal-0">
                                                                <span class="icon">
                                                                    <svg role="img" width="25" height="18">
                                                                        <use xlink:href="/static/images/sprite.svg#cart"></use>
                                                                    </svg>
                                                                    <span class="value cart_count">{{ cart.count }}</span>
                                                                </span>
                                                                <span class="info">
                                                                    <span class="title">Корзина</span>
                                                                    <span class="desc">
                                                                        <span class="number cart_total">{{ cart.total }}</span>
                                                                        <span class="currency">руб.</span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile-header">
						<div class="left-part">
							<div class="ps-burger">
								<span></span>
							</div>
							<a class="logo" href="/">
								<img src="/static/images/logo.png" alt=""/>
							</a>
						</div>
						<div class="right-part">
							<div class="mobile-search-trigger">
								<svg role="img" width="17" height="17">
									<use xlink:href="/static/images/sprite.svg#search"></use>
								</svg>
							</div>
							<a class="mobile-cart-link" href="{% url 'cart' %}">
								<span class="icon">
									<svg role="img" width="25" height="18">
										<use xlink:href="/static/images/sprite.svg#cart"></use>
									</svg>
									<span class="number cart_count">{{ cart.count }}</span>
								</span>
							</a>
						</div>
					</div>
                </header>
                
                {% block content %}{% endblock %}
            </main>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-12 d-none d-lg-block col-lg-3">
							<a class="footer-logo" href="/">
								<img src="/static/images/logo.png" alt=""/>
							</a>
						</div>
						
						<div class="col-12 col-sm-6 col-lg-3 col-xl-4">
							<div class="footer-block" itemscope="" itemtype="http://schema.org/LocalBusiness">
								<b class="title">Связаться с нами</b>
								<meta content="Place-start" itemprop="name"/>
								<span class="address" itemprop="address">{{settings.address}}</span>
								<span>
                                    {% for phone in settings.get_phones %}
									<meta content="{{ phone }}" itemprop="telephone"/>
                                    <a class="phone" href="tel:{{ phone }}">{{ phone }}</a>
                                    {% endfor %}
								</span>
								<a class="mail" href="mailto:{{ settings.email }}" itemprop="email">{{ settings.email }}</a>
								<span class="worktime" itemprop="openingHours">{{ settings.time_work }}</span>
							</div>
						</div>
						<div class="col-12 d-none d-lg-block col-lg-3">
							<div class="footer-block">
								<b class="title">Покупателям</b>
								<ul>
                                        {% for punct in header_menu %}
                                        <li>
                                            <a href="{{ punct.get_url }}">{{ punct.title }}</a>
                                        </li>
                                        {% endfor %}
								</ul>
							</div>
						</div>
						{% comment %}
						<div class="col-12 d-none d-sm-block col-sm-6 col-lg-3">
							<div class="footer-block">
								<b class="title">Мы в соцсетях</b>
								<!-- Социальные ссылки, если их много. -->
								<div class="social-links-wrapper">
									{% if settings.vkontakte %}
									<a class="social-link" href="{{ settings.vkontakte }}">
										<span class="icon">
											<svg role="img" width="17" height="10">
												<use xlink:href="/static/images/sprite.svg#vk"></use>
											</svg>
										</span>
									</a>
									{% endif %}
									{% if settings.facebook %}
									<a class="social-link" href="{{ settings.facebook }}">
										<span class="icon">
											<svg role="img" width="9" height="17">
												<use xlink:href="/static/images/sprite.svg#facebook"></use>
											</svg>
										</span>
									</a>
									{% endif %}
									{% if settings.twitter %}
									<a class="social-link" href="{{ settings.twitter }}">
										<span class="icon">
											<svg role="img" width="17" height="14">
												<use xlink:href="/static/images/sprite.svg#twitter"></use>
											</svg>
										</span>
									</a>
									{% endif %}
								</div>
								<div class="social-links-wrapper">
									{% if settings.instagram %}
									<a class="social-link" href="{{ settings.instagram }}">
										<span class="icon">
											<svg role="img" width="16" height="16">
												<use xlink:href="/static/images/sprite.svg#insta"></use>
											</svg>
										</span>
									</a>
									{% endif %}
									{% if settings.youtube %}
									<a class="social-link" href="{{ settings.youtube }}">
										<span class="icon">
											<svg role="img" width="17" height="12">
												<use xlink:href="/static/images/sprite.svg#youtube"></use>
											</svg>
										</span>
									</a>
									{% endif %}
								</div>
<!-- 							
								<div class="social-links-wrapper">
									<a class="social-link" href="#">
										<span class="icon">
											<svg role="img" width="17" height="10">
												<use xlink:href="/static/images/sprite.svg#vk"></use>
											</svg>
										</span>{{ settings.vkontakte }}
									</a>
								</div>
								<div class="social-links-wrapper">
									<a class="social-link" href="#">
										<span class="icon">
											<svg role="img" width="17" height="14">
												<use xlink:href="/static/images/sprite.svg#twitter"></use>
											</svg>
										</span>{{ settings.twitter }}
									</a>
								</div> -->
							</div>
						</div>
						{% endcomment %}
						<div class="col-12 d-none d-lg-block col-lg-3 col-xl-2">
							<a class="btn btn-primary modal_trigger footer-callback" href="#" data-target="#custom_modal-1">Заказать звонок</a>
						</div>
					</div>
				</div>
				<div class="lower_footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="wrapper">
									<div class="wrapper_left">
										<p>© 2018-2025 ООО «Онлайн-магазин»</p>
										<a href="{% url 'privacy-policy' %}" target="_blank">Политика конфиденциальности</a>
									</div>
									<a class="made_by" href="https://place-start.ru" target="_blank">Сделано в
										<svg role="img" width="96" height="19">
											<use xlink:href="/static/images/sprite.svg#ps"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>


		<!-- Модалка с формой заказа-->
		<div class="custom_modal modal-order" id="custom_modal-0">
			<div class="modal-order__flex-wrapper">
			<form  class="main-info orderForm custom_modal__feedback-form" method="POST" action="{% url 'order-create' %}">
					<a class="modal_close" href="#"></a>
					<b class="title">Оформление заказа</b>
					<p class="desc">Заполните форму, мы свяжемся с вами для подтверждения заказа и у точним детали доставки</p>
					<div class="form-group">
						<label for="input-1">Имя</label>
						<input class="form-control" name="name" type="text" id="input-1"/>
						<div class="valid-feedback state">Готово!</div>
					</div>
					<div class="form-group">
						<label for="input-2">Телефон</label>
                        <input class="form-control" name="phone" type="tel" id="input-2"/>
                        <div class="valid-feedback state">Готово!</div>
					</div>
					<div class="form-group">
						<label for="input-3">Email</label>
                        <input class="form-control" name="email" type="email" id="input-3"/>
                        <div class="valid-feedback state">Готово!</div>
					</div>
					<button class="btn btn-primary" type="submit">Оформить заявку</button>
					<p class="acceptance">Нажимая кнопку, я соглашаюсь на 
						<a href="#">обработку персональных данных</a>
					</p>
            </form>
				<div class="order-table">
					<div class="order-table__header">
						<div class="order-table__row">
							<div class="info">Ваш заказ</div>
							<div class="price">Цена</div>
							<div class="amount">Количество</div>
							<div class="total-price">Сумма</div>
							<div class="delete-item"></div>
						</div>
					</div>
					<div class="order-table__body">
                            {% include "shop/includes/cart-items.html" %}
                    </div>
                    
					<div class="order-table__total">
                        <a class='to_match' href="/shop/match/">Перейти к сравнению товаров</a>
                        Итого: <b>{{ cart.total }} руб.</b>
					</div>
                </div>
            </div>
		</div>
		<div class="custom_modal" id="custom_modal-1">
			<a class="modal_close" href="#"></a>
			<b class="modal_title">Заказать звонок</b>
			<form class="custom_modal__feedback-form" action="{% url 'feedback-question' %}" method="POST">
                <input type="hidden" name="subject" value="Заявка на звонок">
				<div class="form-group required">
					<label for="input-7">Телефон</label>
					<input class="form-control" name="phone" type="tel" id="input-7" required="required"/>
					<div class="valid-feedback">Готово!</div>
				</div>
				<label class="acceptance_checkbox" for="acceptance-2">
					<input type="checkbox" name="agree" id="acceptance-2" checked="checked"/>
					<s class="new_checkbox">
						<svg role="img" width="8" height="6">
							<use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
						</svg>
					</s>
					<span class="text">Согласен на 
						<a href="#">обработку данных</a>
					</span>
				</label>
				<button class="btn btn-primary btn-lg" type="submit">
					<span>Отправить заявку</span>
				</button>
				<div class="load">
					<img src="/static/images/loader.gif" alt=""/>
				</div>
				<div class="success">
					<svg role="img" width="57" height="57">
						<use xlink:href="/static/images/sprite.svg#done_icon"></use>
					</svg>
					<b>Заявка успешно отправлена</b>
				</div>
			</form>
		</div>
        
        {% block modals %}{% endblock %}

        <div class="csrf_token">
            {% csrf_token %}
        </div>

		<script src="/static/js/main.js"></script>
		<script src="/static/js/jquery.overlayScrollbars.min.js"></script>
		<link rel="stylesheet" href="/static/js/OverlayScrollbars.min.css"/>
		<script src="/static/js/shop.js"></script>
        <script src="/static/js/script.js"></script>
        <!-- Admin scripts -->
        {{ settings.scripts|safe }}

        <!-- Begin LeadBack code -->
		<script>
		var _emv = _emv || [];
		_emv['campaign'] = '96bcb45a6e30b2280aabcd8c';

		(function() {
		    var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
		    em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
		})();
		</script>
		<!-- End LeadBack code -->
	</body>
</html>