{% extends "base.html" %}
{% load thumbnail utils posts pages %}

{% block content %}


{% if settings.slider_items.all %}
    <section class="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="carousel slide" id="bootslider" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for item in settings.slider_items.all %}
                            <li {% if forloop.first %}class="active"{% endif %} data-target="#bootslider" data-slide-to="{{forloop.counter}}"></li>
                            {% endfor %}
                            <li data-target="#bootslider" data-slide-to="1"></li>
                            <li data-target="#bootslider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for item in settings.slider_items.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url({{ item.image.url }});">
                                <div class="wrapper">
                                    <b class="title">{{ item.title }}</b>
                                    <p class="desc">{{ item.subtitle }}</p>
                                    <a class="slider_link btn btn-primary" href="{{ item.link.get_absolute_url }}">Узнать подробнее</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#bootslider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">prev</span>
                        </a>
                        <a class="carousel-control-next" href="#bootslider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
    {% if categories %}
    <section class="index-row index-row_categories">
        <div class="container">
            <div class="row">
                {% for cat in categories %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="{{ cat.get_absolute_url }}">
                        {% if cat.thumbnail %}
                        <div class="category-block__img-wrapper">
                            <img src="{% thumbnail cat.thumbnail 108x106 crop %}" alt=""/>
                        </div>
                        {% else %}
                        <div class="category-block__img-wrapper category-block__img-wrapper_no-photo">
                            <svg role="img" width="30" height="30">
                                <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                            </svg>
                        </div>
                        {% endif %}
                        <div class="category-block__info">{{ cat.title }}
                            <svg role="img" width="13" height="8">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block category-block_all-cats" href="/catalog/">
                        <div class="category-block__info">Смотреть все категории
                            <svg role="img" width="13" height="8">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="index-row index-row_excellences">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg1.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="57" height="71">
                                <use xlink:href="static/images/sprite.svg#excellence1"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Широкий ассортимент товаров и коллекций</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg2.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="77" height="62">
                                <use xlink:href="static/images/sprite.svg#excellence2"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Своевременная и качественная поставка</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg3.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="65" height="55">
                                <use xlink:href="static/images/sprite.svg#excellence3"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Индивидуальный подход к каждому заказчику</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if collections %}
    <section class="index-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_discount.png" width="32" height="32" alt=""/>Новые коллекции
                        </div>
                        <a class="see_more" href="#">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for product in collections %}
                            <div class="col-12 col-md-6 col-xl-4">
                            {% include "catalog/collection-card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% if new_products or sale_products or hit_products %}
    <section class="index-row index-row_products">
        <div class="container">
            <div class="row">
                {% if new_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_discount.png" width="32" height="32" alt="{% url 'products' %}?new=on"/>Новые поступления
                        </div>
                        <a class="see_more" href="{% url 'products' %}?new=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for product in new_products %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                {% include "catalog/product-card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="{% url 'products' %}?new=on">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
                {% if sale_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_sell.png" width="32" height="32" alt="{% url 'products' %}?sales=on"/>Распродажа
                        </div>
                        <a class="see_more" href="{% url 'products' %}?sales=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                                {% for product in sale_products %}
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    {% include "catalog/product-card.html" %}
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
                {% if hit_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_warning.png" width="32" height="32" alt="{% url 'products' %}?hit=on"/>Хиты продаж
                        </div>
                        <a class="see_more" href="{% url 'products' %}?hit=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for product in hit_products %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                {% include "catalog/product-card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
    {% if cat_news %}
    <section class="index-row index-row_news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">Новости</div>
                        <a class="see_more" href="{{ cat_news }}">Все новости
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for post in news %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="{{ post.get_absolute_url }}">
                                    {% if post.thumbnail %}
                                    <span class="article-block__img-wrapper" style="background-image: url({{ post.thumbnail.url }});"></span>
                                    {% else %}
                                    <span class="article-block__img-wrapper article-block__img-wrapper_no-photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                    </span>
                                    {% endif %}
                                    <span class="article-block__info">
                                        <b class="title">{{ post.title }}</b>
                                        <p class="text">{{post.description}}</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="/static/images/sprite.svg#calendar"></use>
                                            </svg>{{ post.published_date }}
                                        </span>
                                    </span>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="{{ cat_news }}">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="seo-scroller">
        <div class="container">
            <div class="row">
                {% if settings.seo_text %}
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__image">
                        <img src="{{ settings.seo_img.url }}" alt=""/>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__content">
                        <div class="content-text">
                            {{ settings.seo_text|safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% endblock %}



    <section class="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="carousel slide" id="bootslider" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#bootslider" data-slide-to="0"></li>
                            <li data-target="#bootslider" data-slide-to="1"></li>
                            <li data-target="#bootslider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="background-image: url(/static/images/slide1.jpg);">
                                <div class="wrapper">
                                    <b class="title">Samnsung Galaxy S6 edge</b>
                                    <p class="desc">Подпись под заголовком расмером в несколько строк</p>
                                    <a class="slider_link btn btn-primary" href="#">Узнать подробнее</a>
                                </div>
                            </div>
                            <div class="carousel-item" style="background-image: url(/static/images/white.jpg);">
                                <div class="wrapper">
                                    <b class="title">Samnsung Galaxy S6 edge</b>
                                    <p class="desc">Подпись под заголовком расмером в несколько строк</p>
                                    <a class="slider_link btn btn-primary" href="#">Узнать подробнее</a>
                                </div>
                            </div>
                            <div class="carousel-item" style="background-image: url(/static/images/les1.jpg);">
                                <div class="wrapper">
                                    <b class="title">Samnsung Galaxy S6 edge</b>
                                    <p class="desc">Подпись под заголовком расмером в несколько строк</p>
                                    <a class="slider_link btn btn-primary" href="#">Узнать подробнее</a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#bootslider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">prev</span>
                        </a>
                        <a class="carousel-control-next" href="#bootslider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-row index-row_categories">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="#">
                        <div class="category-block__img-wrapper">
                            <img src="/static/images/category-img1.jpg" alt=""/>
                        </div>
                        <div class="category-block__info">Кабинеты руководителя
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="#">
                        <div class="category-block__img-wrapper">
                            <img src="/static/images/category-img2.jpg" alt=""/>
                        </div>
                        <div class="category-block__info">Мебель для персонала
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <!-- Если фотки нет-->
                <!-- <div class="col-12 col-sm-6 col-md-4 col-xl-3">-->
                <!-- 	<a class="category-block" href="#">-->
                <!-- 		<div class="category-block__img-wrapper category-block__img-wrapper_no-photo">-->
                <!-- 			<svg role="img" width="30" height="30">-->
                <!-- 				<use xlink:href="static/images/sprite.svg#no_photo"></use>-->
                <!-- 			</svg>-->
                <!-- 		</div>-->
                <!-- 		<div class="category-block__info">Смартфоны-->
                <!-- 			<svg role="img" width="13" height="8">-->
                <!-- 				<use xlink:href="static/images/sprite.svg#arrow_left"></use>-->
                <!-- 			</svg>-->
                <!-- 		</div>-->
                <!-- 	</a>-->
                <!-- </div>-->
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="#">
                        <div class="category-block__img-wrapper">
                            <img src="/static/images/category-img3.jpg" alt=""/>
                        </div>
                        <div class="category-block__info">Ресепшен
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="#">
                        <div class="category-block__img-wrapper">
                            <img src="/static/images/category-img4.jpg" alt=""/>
                        </div>
                        <div class="category-block__info">Мебель для переговорных
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block" href="#">
                        <div class="category-block__img-wrapper">
                            <img src="/static/images/category-img5.jpg" alt=""/>
                        </div>
                        <div class="category-block__info">Кресла и стулья
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                    <a class="category-block category-block_all-cats" href="#">
                        <div class="category-block__info">Смотреть все категории
                            <svg role="img" width="13" height="8">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="index-row index-row_excellences">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg1.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="57" height="71">
                                <use xlink:href="static/images/sprite.svg#excellence1"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Широкий ассортимент товаров и коллекций</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg2.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="77" height="62">
                                <use xlink:href="static/images/sprite.svg#excellence2"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Своевременная и качественная поставка</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="excellence-block" style="background-image: url('/static/images/excellence-bg3.png');">
                        <div class="excellence-block__icon">
                            <svg role="img" width="65" height="55">
                                <use xlink:href="static/images/sprite.svg#excellence3"></use>
                            </svg>
                        </div>
                        <div class="excellence-block__title">Индивидуальный подход к каждому заказчику</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_discount.png" width="32" height="32" alt=""/>Новые коллекции
                        </div>
                        <a class="see_more" href="#">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-4">
                                <a class="collection-card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper" style="background-image: url(/static/images/les1.jpg);">
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Кабинет руководителя TORR</span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="price on application"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <b class="no_price">Цена по запросу</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <a class="collection-card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Кабинет руководителя TORR</span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="3590.00"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="price">от
                                                <span class="value">3 590</span>
                                                <span class="currency">руб.</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <a class="collection-card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Кабинет руководителя TORR</span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="3590.00"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="price">от
                                                <span class="value">3 590</span>
                                                <span class="currency">руб.</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="index-row index-row_products">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_sell.png" width="32" height="32" alt=""/>Скидки
                        </div>
                        <a class="see_more" href="#">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper"><img itemprop="image" class="lazy" data-src="static/images/product_img1.jpg" alt=""/>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Название товара</span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="price on application"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <b class="no_price">Цена по запросу</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                            <span class="badge badge-danger">-30%</span>
                                        </div>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <b class="title" itemprop="name">Название товара</b>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="7150.00"/>
                                            <meta itemprop="priceCurrency" content="RUB"/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="sell_price">3 590 руб.
                                                <s>3 900 руб.</s>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper"><img itemprop="image" class="lazy" data-src="static/images/product_img1.jpg" alt=""/>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Название товара </span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="price on application"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <b class="no_price">Цена по запросу</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                            <span class="badge badge-danger">-30%</span>
                                        </div>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <b class="title" itemprop="name">Название товара</b>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="7150.00"/>
                                            <meta itemprop="priceCurrency" content="RUB"/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="price">3 590 руб.</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_warning.png" width="32" height="32" alt=""/>Хиты продаж
                        </div>
                        <a class="see_more" href="#">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper"><img itemprop="image" class="lazy" data-src="static/images/product_img1.jpg" alt=""/>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Название товара</span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="price on application"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <b class="no_price">Цена по запросу</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                            <span class="badge badge-danger">-30%</span>
                                        </div>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <b class="title" itemprop="name">Название товара</b>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="7150.00"/>
                                            <meta itemprop="priceCurrency" content="RUB"/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="sell_price">3 590 руб.
                                                <s>3 900 руб.</s>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper"><img itemprop="image" class="lazy" data-src="static/images/product_img1.jpg" alt=""/>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <span class="title" itemprop="name">Название товара </span>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="price on application"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <b class="no_price">Цена по запросу</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="product_card" href="#" itemscope="" itemtype="http://schema.org/Product">
                                    <div class="img_wrapper no_photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                        <div class="badges">
                                            <span class="badge badge-success">Новинка</span>
                                            <span class="badge badge-warning">Хит!</span>
                                            <span class="badge badge-danger">-30%</span>
                                        </div>
                                        <div class="hover_layer">
                                            <div class="buttons">
                                                <button class="add_to_cart">
                                                    <svg role="img" width="28" height="15">
                                                        <use xlink:href="static/images/sprite.svg#cart-plus"></use>
                                                    </svg>Добавить в корзину
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <b class="title" itemprop="name">Название товара</b>
                                        <div class="price_row" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="7150.00"/>
                                            <meta itemprop="priceCurrency" content="RUB"/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="price">3 590 руб.</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="index-row index-row_news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">Новости</div>
                        <a class="see_more" href="#">Все новости
                            <svg role="img" width="8" height="5">
                                <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="#">
                                    <span class="article-block__img-wrapper" style="background-image: url(/static/images/les1.jpg);"></span>
                                    <span class="article-block__info">
                                        <b class="title">Заголовок новостной статьи</b>
                                        <p class="text">Краткое описание новостной статьи в несколько строк…</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="static/images/sprite.svg#calendar"></use>
                                            </svg>25.02.2018
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="#">
                                    <span class="article-block__img-wrapper article-block__img-wrapper_no-photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                    </span>
                                    <span class="article-block__info">
                                        <b class="title">Заголовок новостной статьи</b>
                                        <p class="text">Краткое описание новостной статьи в несколько строк…</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="static/images/sprite.svg#calendar"></use>
                                            </svg>25.02.2018
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="#">
                                    <span class="article-block__img-wrapper" style="background-image: url(/static/images/les1.jpg);"></span>
                                    <span class="article-block__info">
                                        <b class="title">Заголовок новостной статьи</b>
                                        <p class="text">Краткое описание новостной статьи в несколько строк…</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="static/images/sprite.svg#calendar"></use>
                                            </svg>25.02.2018
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="#">
                                    <span class="article-block__img-wrapper" style="background-image: url(/static/images/les1.jpg);"></span>
                                    <span class="article-block__info">
                                        <b class="title">Заголовок новостной статьи</b>
                                        <p class="text">Краткое описание новостной статьи в несколько строк…</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="static/images/sprite.svg#calendar"></use>
                                            </svg>25.02.2018
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="seo-scroller">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__image">
                        <img src="/static/images/seo-img.jpg" alt=""/>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__content">
                        <div class="content-text">
                            <h1>H1. Пример заголовка SEO текста</h1>
                            <p>В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу. Было так сыро и туманно; в десяти шагах, вправо и влево от дороги, трудно было разглядеть хоть что-нибудь из окон вагона. Из пассажиров были и возвращавшиеся из-за границы; но более были наполнены отделения для третьего класса, и всё людом мелким и деловым, не из очень далека. Все, как водится, устали, у всех отяжелели за ночь глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.</p>
                            <h2>H2. Пример подзаголовка второго уровня типовой текстовой страницы в две строки или более</h2>
                            <p>В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу. Было так сыро и туманно; в десяти шагах, вправо и влево от дороги, трудно было разглядеть хоть что-нибудь из окон вагона. Из пассажиров были и возвращавшиеся из-за границы; но более были наполнены отделения для третьего класса, и всё людом мелким и деловым, не из очень далека. Все, как водится, устали, у всех отяжелели за ночь глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.</p>
                            <h2>H2. Пример подзаголовка второго уровня типовой текстовой страницы в две строки или более</h2>
                            <p>В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу. Было так сыро и туманно; в десяти шагах, вправо и влево от дороги, трудно было разглядеть хоть что-нибудь из окон вагона. Из пассажиров были и возвращавшиеся из-за границы; но более были наполнены отделения для третьего класса, и всё людом мелким и деловым, не из очень далека. Все, как водится, устали, у всех отяжелели за ночь глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.</p>
                            <h2>H2. Пример подзаголовка второго уровня типовой текстовой страницы в две строки или более</h2>
                            <p>В конце ноября, в оттепель, часов в девять утра, поезд Петербургско-Варшавской железной дороги на всех парах подходил к Петербургу. Было так сыро и туманно; в десяти шагах, вправо и влево от дороги, трудно было разглядеть хоть что-нибудь из окон вагона. Из пассажиров были и возвращавшиеся из-за границы; но более были наполнены отделения для третьего класса, и всё людом мелким и деловым, не из очень далека. Все, как водится, устали, у всех отяжелели за ночь глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.</p>
                            <h3>H3. Пример подзаголовка второго уровня типовой текстовой страницы в две строки или более</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>