// Кнопка
.shop-button {
    $this: &;
    position: relative;
    width: 60px;
    height: 60px;
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 26px;
        fill: $general-color;
        filter: drop-shadow(0 2px 6px rgba(#E6007E, 1));
        margin: auto;
        &#{ & }_theme {
            &_cart {
                width: 24px;
                height: 26px;
            }
            &_account {
                width: 22px;
                height: 22px;
            }
            &_favorite {
                width: 23px;
                height: 19px;
            }
        }
    }
    &__count {
        position: absolute;
        top: 13px;
        right: 0;
        display: inline-block;
        min-width: 23px;
        width: auto;
        height: 14px;
        font: {
            weight: 900;
            size: 11px;
        }
        line-height: 13px;
        color: $text-color;
        text-align: center;
        border: 0;
        border-radius: 7px;
        background-color: $general-color-primary;
        padding: 0 0 1px;
    }
    &:hover {
        #{ $this }__icon {
            fill: $general-color-primary;
            filter: drop-shadow(0 2px 6px rgba($general-color-primary, 1));
        }
        #{ $this }__count {
            color: #fff;
            background-color: $general-color;
        }
    }
}

// Выпадающее меню под кнопкой
.shop-dropdown {
    display: none;
    position: absolute;
    z-index: 40;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.18);
    transform: translateY(8px);
    transition: transform $time-xs ease;
    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 16px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 11px solid #FAFAFA;
    }
    &#{ & }_theme {
        &_cart {
            width: 400px;
        }
        &_account {
            right: -16px;
            width: 270px;
            &::before {
                right: 32px;
            }
        }
    }
    &__head {
        position: relative;
        height: 50px;
        background-color: #FAFAFA;
        padding: 16px 20px;
        overflow: hidden;
    }
    &__icon {
        position: absolute;
        top: -6px;
        right: -2px;
        width: 59px;
        height: 63px;
        fill: #EAEAEA;
        transform: rotate(-30deg);
    }
    &__title {
        font: {
            weight: 700;
            size: 16px;
        }
        color: $darker-color;
    }
    &__count {
        color: $general-color;
    }
    &__body {
        padding: 0 10px;
        &#{ & }_list {
            padding: 0;
        }
    }
    &__notification {
        font: {
            weight: 700;
            size: 24px;
        }
        color: $darker-color;
        text-align: center;
        border-bottom: 1px solid #EAEAEA;
        padding: 20px 0;
    }
    &__content-line {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    &__price {
        align-items: flex-end;
    }
    &__text {
        font: {
            weight: 400;
            size: 14px;
        }
        color: $darker-color;
    }
    &__total-price {
        font: {
            weight: 700;
            size: 18px;
        }
        color: $darker-color;
    }
    &__buttons {
        padding-bottom: 25px;
    }
}

.dropdown-list {
    margin: 0;
    &__item {
        position: relative;
        display: block;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: {
            weight: 400;
            size: 16px;
        }
        color: $darker-color;
        padding: 9px 20px;
        &:hover {
            color: $general-color;
        }
        &#{ & }_theme {
            &_exit {
                border-top: 1px solid #d8d8d8;
            }
        }
    }
    &__icon {
        width: 17px;
        height: 14px;
        fill: #d8d8d8;
    }
}

// Товар в выпадающем меню кнопки корзины
.cart-dropdown-item {
    $this: &;
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #EAEAEA;
    &__thumb {
        flex: 0 0 auto;
        width: 74px;
        height: 74px;
        @include background(contain);
    }
    &__info {
        flex: 1 1 auto;
        padding: 0 13px;
    }
    &__brand {
        font: {
            weight: 700;
            size: 13px;
        }
        color: $darker-color;
        margin-bottom: 1px;
    }
    &__title {
        font: {
            weight: 400;
            size: 12px;
        }
        color: #616161;
        margin-bottom: 4px;
    }
    &__count {
        font: {
            weight: 400;
            size: 12px;
        }
        color: $sign-color;
    }
    &__offers {
        flex: 0 0 auto;
        width: 75px;
    }
    &__price {
        font: {
            weight: 700;
            size: 14px;
        }
        color: $text-color;
        white-space: nowrap;
        &#{ & }_wholesale {
            color: $general-color;
        }
    }
    &:hover {
        #{ $this }__brand {
            color: $general-color-dark;
        }
        #{ $this }__title {
            color: $general-color;
        }
    }
}
