<div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" id="customCheck{{forloop.parentloop.counter}}{{forloop.counter}}" name="{{ item.name }}" {% if item.name in active.items %}checked="checked"{% endif %}/>
    <label class="custom-control-label" for="customCheck{{forloop.parentloop.counter}}{{forloop.counter}}">{{ item.title }}</label>
</div>